openapi: 3.0.1
info:
  contact:
    url: https://developer.myptv.com/
  description: With the Route Optimization OptiFlow service you can schedule and optimize
    the routes of your fleet.
  title: Route Optimization OptiFlow
  version: "1.17"
servers:
- url: https://api.myptv.com/routeoptimization/optiflow/v1
security:
- apiKeyAuth: []
tags:
- name: Optimization
paths:
  /optimizations:
    post:
      description: "Initiates a cost-minimizing optimization that efficiently schedules\
        \ orders onto routes. The routes are assigned to the provided vehicles and\
        \ satisfy the given constraints. Once the optimization is accepted, the optimization\
        \ starts for the requested duration after which the resulting routes can be\
        \ retrieved."
      operationId: startOptimization
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              animalTransport:
                $ref: "#/components/examples/AnimalTransportRequest"
              deliveriesWithBackHauls:
                $ref: "#/components/examples/DeliveriesWithBackHaulsRequest"
              nothingToOptimize:
                $ref: "#/components/examples/NothingToOptimizeRequest"
              postalService:
                $ref: "#/components/examples/PostalServiceRequest"
              taxiService:
                $ref: "#/components/examples/TaxiServiceRequest"
            schema:
              $ref: "#/components/schemas/OptimizationRequest"
        description: The data needed to optimize the routes.
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OptimizationIdentifier"
          description: The request has been accepted for optimization.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Optimization
  /optimizations/{id}:
    get:
      description: "Retrieves the current result of the optimization. While the optimization\
        \ is running, this will return intermediate metrics to track the progress.\
        \ Once succeeded, the optimized routes are returned."
      operationId: getOptimizationResult
      parameters:
      - description: A unique identifier of the optimization.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                animalTransport:
                  $ref: "#/components/examples/AnimalTransportResult"
                deliveriesWithBackHauls:
                  $ref: "#/components/examples/DeliveriesWithBackHaulsResult"
                nothingToOptimize:
                  $ref: "#/components/examples/NothingToOptimizeResult"
                postalService:
                  $ref: "#/components/examples/PostalServiceResult"
                taxiService:
                  $ref: "#/components/examples/TaxiServiceResult"
              schema:
                $ref: "#/components/schemas/OptimizationResult"
          description: The current result of the optimization is successfully provided.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Optimization
  /optimizations/{id}/stop:
    post:
      description: "Stops an optimization. Once accepted, the optimization will stop\
        \ as soon as possible and the final state of the routes can be retrieved."
      operationId: stopOptimization
      parameters:
      - description: A unique identifier of the optimization.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Stopping the optimization is successfully triggered.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Response on failure.
      tags:
      - Optimization
components:
  examples:
    AnimalTransportRequest:
      description: "In this example, animals need to be transported to the zoo. The\
        \ example contains two pickup locations, one for birds and one for mammals.\
        \ The pickup location for the birds has two time slots: one for the parrot\
        \ and the flamingo and one for the penguin. The pickup location for the mammals\
        \ only has one time slot. Predators like the lion must not be transported\
        \ together with preys such as the flamingo. The lion must be loaded in the\
        \ back of the truck and can therefore not be picked up while the tiger is\
        \ already present in the vehicle."
      summary: Animal transport with multiple time slots
      value:
        settings:
          duration: 60
        locations:
        - id: HAMBURG_PORT
          latitude: 53.50720405582881
          longitude: 9.972044642860904
        - id: BIRDS_PICKUP
          latitude: 53.53065330231955
          longitude: 10.00155541777716
          stopProperties:
            preparationDuration: 300
            timeSlots:
            - id: EXOTIC_BIRDS_PICKUP_07H
              earliestStart: 2023-01-01T06:00:00Z
              latestStart: 2023-01-01T06:00:00Z
              preparationDuration: 600
            - id: PENGUIN_PICKUP_07H15
              earliestStart: 2023-01-01T06:15:00Z
              latestStart: 2023-01-01T06:15:00Z
              preparationDuration: 600
        - id: MAMMALS_PICKUP
          latitude: 53.52748011566368
          longitude: 9.906287354983906
          stopProperties:
            preparationDuration: 300
            timeSlots:
            - id: MAMMAL_PICKUP_AFTERNOON
              earliestStart: 2023-01-01T11:00:00Z
              latestStart: 2023-01-01T13:00:00Z
              preparationDuration: 900
        - id: TIERPARK_HAGENBECK
          latitude: 53.56704366279595
          longitude: 9.925984814543064
          stopProperties:
            timeSlots:
            - id: ZOO_DELIVERY_HOURS_9H-17H
              earliestStart: 2023-01-01T08:00:00Z
              latestStart: 2023-01-01T16:00:00Z
        - id: WELTVOGELPARK_WALSRODE
          latitude: 52.88358529138028
          longitude: 9.59641472675972
          stopProperties:
            timeSlots:
            - id: ZOO_DELIVERY_HOURS_9H-17H
              earliestStart: 2023-01-01T08:00:00Z
              latestStart: 2023-01-01T16:00:00Z
        - id: WILDPARK_LUENEBURGER_HEIDE
          latitude: 53.23813420312885
          longitude: 10.045505175131838
          stopProperties:
            timeSlots:
            - id: ZOO_DELIVERY_HOURS_9H-17H
              earliestStart: 2023-01-01T08:00:00Z
              latestStart: 2023-01-01T16:00:00Z
        orders:
          pickupDeliveries:
          - id: FLAMINGO
            pickup:
              locationId: BIRDS_PICKUP
              timeSlotIds:
              - EXOTIC_BIRDS_PICKUP_07H
              duration: 60
              categories:
              - FLAMINGO
            delivery:
              locationId: WELTVOGELPARK_WALSRODE
              timeSlotIds:
              - ZOO_DELIVERY_HOURS_9H-17H
              duration: 300
            properties:
              categories:
              - PREY
          - id: PARROT
            pickup:
              locationId: BIRDS_PICKUP
              timeSlotIds:
              - EXOTIC_BIRDS_PICKUP_07H
              duration: 60
              categories:
              - PARROT
            delivery:
              locationId: WELTVOGELPARK_WALSRODE
              timeSlotIds:
              - ZOO_DELIVERY_HOURS_9H-17H
              duration: 300
            properties:
              categories:
              - PREY
          - id: PENGUIN
            pickup:
              locationId: BIRDS_PICKUP
              timeSlotIds:
              - PENGUIN_PICKUP_07H15
              duration: 60
            delivery:
              locationId: TIERPARK_HAGENBECK
              timeSlotIds:
              - ZOO_DELIVERY_HOURS_9H-17H
              duration: 300
            properties:
              categories:
              - PREY
          - id: LION
            pickup:
              locationId: MAMMALS_PICKUP
              timeSlotIds:
              - MAMMAL_PICKUP_AFTERNOON
              duration: 300
            delivery:
              locationId: WILDPARK_LUENEBURGER_HEIDE
              timeSlotIds:
              - ZOO_DELIVERY_HOURS_9H-17H
              duration: 600
            properties:
              categories:
              - PREDATOR
              - LION
          - id: TIGER
            pickup:
              locationId: MAMMALS_PICKUP
              timeSlotIds:
              - MAMMAL_PICKUP_AFTERNOON
              duration: 300
            delivery:
              locationId: WILDPARK_LUENEBURGER_HEIDE
              timeSlotIds:
              - ZOO_DELIVERY_HOURS_9H-17H
              duration: 600
            properties:
              categories:
              - PREDATOR
              - TIGER
        vehicles:
        - id: VEHICLE
          start:
            locationId: HAMBURG_PORT
            earliestStartTime: 2023-01-01T05:00:00Z
          end:
            locationId: HAMBURG_PORT
            latestEndTime: 2023-01-01T21:00:00Z
          routing:
            profile: EUR_TRUCK_40T
            speedFactor: 1.2
          costs:
            perHour: 40
            perKilometer: 0.42
            fixed: 0
          breaks:
            working:
            - maximumWorkingDuration: 21600
              minimumBreakDuration: 1800
            - maximumWorkingDuration: 32400
              minimumBreakDuration: 2700
            driving:
            - maximumDrivingDuration: 16200
              minimumBreakDuration: 2700
          constraints:
            route:
              maximumDuration: 43200
          compartments:
          - id: TRAILER
            loadingStrategy: LAST_IN_FIRST_OUT
        routes:
        - vehicleId: VEHICLE
          start: 2023-01-01T06:00:00Z
          tasks:
          - orderId: FLAMINGO
            type: PICKUP
            timeSlotId: EXOTIC_BIRDS_PICKUP_07H
            compartmentId: TRAILER
          - orderId: PARROT
            type: PICKUP
            timeSlotId: EXOTIC_BIRDS_PICKUP_07H
            compartmentId: TRAILER
          - orderId: PARROT
            type: DELIVERY
            timeSlotId: ZOO_DELIVERY_HOURS_9H-17H
            compartmentId: TRAILER
          - orderId: FLAMINGO
            type: DELIVERY
            timeSlotId: ZOO_DELIVERY_HOURS_9H-17H
            compartmentId: TRAILER
        constraints:
          orders:
            loadingIncompatibilities:
            - loadedOrderCategory: PREY
              forbiddenOrderCategory: PREDATOR
            - loadedOrderCategory: PREDATOR
              forbiddenOrderCategory: PREY
            - loadedOrderCategory: TIGER
              forbiddenOrderCategory: LION
          tasks:
            respectedSequences:
            - taskCategories:
              - FLAMINGO
              - PARROT
    AnimalTransportResult:
      description: "In this example, animals need to be transported to the zoo. The\
        \ result contains one route. Because predators like the lion must not be transported\
        \ together with preys such as the flamingo, all birds are picked up and delivered\
        \ first. Afterwards, the lion and the tiger are picked up and delivered to\
        \ the zoo."
      summary: A result for the animal transport request.
      value:
        id: 00112233-4455-6677-8899-aabbccddeeff
        status: SUCCEEDED
        routes:
        - vehicleId: VEHICLE
          start:
            locationId: HAMBURG_PORT
            start: 2023-01-01T05:51:15Z
            duration: 0
            departure: 2023-01-01T05:51:15Z
          stops:
          - locationId: BIRDS_PICKUP
            approach:
              startLocationId: HAMBURG_PORT
              departure: 2023-01-01T05:51:15Z
              endLocationId: BIRDS_PICKUP
              arrival: 2023-01-01T05:55:00Z
              breaks: []
              distance: 4495
              drivingDuration: 225
            arrival: 2023-01-01T05:55:00Z
            preparationDuration: 300
            appointments:
            - timeSlotId: EXOTIC_BIRDS_PICKUP_07H
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T06:00:00Z
              preparationDuration: 600
              tasks:
              - orderId: FLAMINGO
                type: PICKUP
                breaks: []
                start: 2023-01-01T06:10:00Z
                duration: 60
                end: 2023-01-01T06:11:00Z
                compartmentId: TRAILER
              - orderId: PARROT
                type: PICKUP
                breaks: []
                start: 2023-01-01T06:11:00Z
                duration: 60
                end: 2023-01-01T06:12:00Z
                compartmentId: TRAILER
              end: 2023-01-01T06:12:00Z
            - timeSlotId: PENGUIN_PICKUP_07H15
              breaks: []
              waitingDuration: 180
              start: 2023-01-01T06:15:00Z
              preparationDuration: 600
              tasks:
              - orderId: PENGUIN
                type: PICKUP
                breaks: []
                start: 2023-01-01T06:25:00Z
                duration: 60
                end: 2023-01-01T06:26:00Z
                compartmentId: TRAILER
              end: 2023-01-01T06:26:00Z
            departure: 2023-01-01T06:26:00Z
          - locationId: TIERPARK_HAGENBECK
            approach:
              startLocationId: BIRDS_PICKUP
              departure: 2023-01-01T06:26:00Z
              endLocationId: TIERPARK_HAGENBECK
              arrival: 2023-01-01T06:33:23Z
              breaks: []
              distance: 8868
              drivingDuration: 443
            arrival: 2023-01-01T06:33:23Z
            preparationDuration: 0
            appointments:
            - timeSlotId: ZOO_DELIVERY_HOURS_9H-17H
              breaks: []
              waitingDuration: 5197
              start: 2023-01-01T08:00:00Z
              preparationDuration: 0
              tasks:
              - orderId: PENGUIN
                type: DELIVERY
                breaks: []
                start: 2023-01-01T08:00:00Z
                duration: 300
                end: 2023-01-01T08:05:00Z
                compartmentId: TRAILER
              end: 2023-01-01T08:05:00Z
            departure: 2023-01-01T08:05:00Z
          - locationId: WELTVOGELPARK_WALSRODE
            approach:
              startLocationId: TIERPARK_HAGENBECK
              departure: 2023-01-01T08:05:00Z
              endLocationId: WELTVOGELPARK_WALSRODE
              arrival: 2023-01-01T09:35:57Z
              breaks: []
              distance: 109158
              drivingDuration: 5457
            arrival: 2023-01-01T09:35:57Z
            preparationDuration: 0
            appointments:
            - timeSlotId: ZOO_DELIVERY_HOURS_9H-17H
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T09:35:57Z
              preparationDuration: 0
              tasks:
              - orderId: PARROT
                type: DELIVERY
                breaks: []
                start: 2023-01-01T09:35:57Z
                duration: 300
                end: 2023-01-01T09:40:57Z
                compartmentId: TRAILER
              - orderId: FLAMINGO
                type: DELIVERY
                breaks: []
                start: 2023-01-01T09:40:57Z
                duration: 300
                end: 2023-01-01T09:45:57Z
                compartmentId: TRAILER
              end: 2023-01-01T09:45:57Z
            departure: 2023-01-01T09:45:57Z
          - locationId: MAMMALS_PICKUP
            approach:
              startLocationId: WELTVOGELPARK_WALSRODE
              departure: 2023-01-01T09:45:57Z
              endLocationId: MAMMALS_PICKUP
              arrival: 2023-01-01T11:11:38Z
              breaks: []
              distance: 102828
              drivingDuration: 5141
            arrival: 2023-01-01T11:11:38Z
            preparationDuration: 300
            appointments:
            - timeSlotId: MAMMAL_PICKUP_AFTERNOON
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T11:16:38Z
              preparationDuration: 900
              tasks:
              - orderId: LION
                type: PICKUP
                breaks: []
                start: 2023-01-01T11:31:38Z
                duration: 300
                end: 2023-01-01T11:36:38Z
                compartmentId: TRAILER
              - orderId: TIGER
                type: PICKUP
                breaks: []
                start: 2023-01-01T11:36:38Z
                duration: 300
                end: 2023-01-01T11:41:38Z
                compartmentId: TRAILER
              end: 2023-01-01T11:41:38Z
            departure: 2023-01-01T11:41:38Z
          - locationId: WILDPARK_LUENEBURGER_HEIDE
            approach:
              startLocationId: MAMMALS_PICKUP
              departure: 2023-01-01T11:41:38Z
              endLocationId: WILDPARK_LUENEBURGER_HEIDE
              arrival: 2023-01-01T12:20:08Z
              breaks: []
              distance: 46193
              drivingDuration: 2310
            arrival: 2023-01-01T12:20:08Z
            preparationDuration: 0
            appointments:
            - timeSlotId: ZOO_DELIVERY_HOURS_9H-17H
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T12:20:08Z
              preparationDuration: 0
              tasks:
              - orderId: TIGER
                type: DELIVERY
                breaks: []
                start: 2023-01-01T12:20:08Z
                duration: 600
                end: 2023-01-01T12:30:08Z
                compartmentId: TRAILER
              - orderId: LION
                type: DELIVERY
                breaks: []
                start: 2023-01-01T12:30:08Z
                duration: 600
                end: 2023-01-01T12:40:08Z
                compartmentId: TRAILER
              end: 2023-01-01T12:40:08Z
            departure: 2023-01-01T12:40:08Z
          end:
            locationId: HAMBURG_PORT
            approach:
              startLocationId: WILDPARK_LUENEBURGER_HEIDE
              departure: 2023-01-01T12:40:08Z
              endLocationId: HAMBURG_PORT
              arrival: 2023-01-01T13:14:59Z
              breaks: []
              distance: 41832
              drivingDuration: 2091
            arrival: 2023-01-01T13:14:59Z
            duration: 0
            end: 2023-01-01T13:14:59Z
          metrics:
            numberOfStops: 5
            cost: 427.43930222222224
            distance: 313374
            duration: 26624
        metrics:
          numberOfUnscheduledOrders: 0
          numberOfRoutes: 1
          totalCost: 427.43930222222224
          totalDistance: 313374
          totalDuration: 26624
        warnings: []
    DeliveriesWithBackHaulsRequest:
      description: "In this example, goods need to be delivered to shopping centers.\
        \ Each shopping center has a bunch of empty containers from previous deliveries.\
        \ The containers should be picked up when delivering to the shopping center\
        \ and brought back to the depot. Some deliveries should be executed in the\
        \ morning, others in the afternoon. The deliveries in East-Flanders should\
        \ be executed before the deliveries in Antwerp."
      summary: Shopping center deliveries with back hauls
      value:
        settings:
          duration: 60
        locations:
        - id: WIJNEGEM
          latitude: 51.22325520517427
          longitude: 4.5005098437467375
          stopProperties:
            timeSlots:
            - id: MORNING
              earliestStart: 2023-01-01T08:00:00Z
              latestStart: 2023-01-01T11:00:00Z
              preparationDuration: 900
            - id: AFTERNOON
              earliestStart: 2023-01-01T12:00:00Z
              latestStart: 2023-01-01T16:00:00Z
              preparationDuration: 900
        - id: SINT_NIKLAAS
          latitude: 51.152454835557656
          longitude: 4.154433304409148
          stopProperties:
            timeSlots:
            - id: MORNING
              earliestStart: 2023-01-01T08:00:00Z
              latestStart: 2023-01-01T11:00:00Z
              preparationDuration: 900
            - id: AFTERNOON
              earliestStart: 2023-01-01T12:00:00Z
              latestStart: 2023-01-01T16:00:00Z
              preparationDuration: 900
        - id: GENT
          latitude: 51.04881712317628
          longitude: 3.730488928836328
          stopProperties:
            timeSlots:
            - id: MORNING
              earliestStart: 2023-01-01T08:00:00Z
              latestStart: 2023-01-01T11:00:00Z
              preparationDuration: 900
            - id: AFTERNOON
              earliestStart: 2023-01-01T12:00:00Z
              latestStart: 2023-01-01T16:00:00Z
              preparationDuration: 900
        - id: AALST
          latitude: 50.94285549605998
          longitude: 4.039153726678457
          stopProperties:
            timeSlots:
            - id: ALL_DAY
              earliestStart: 2023-01-01T08:00:00Z
              latestStart: 2023-01-01T16:00:00Z
              preparationDuration: 900
        orders:
          pickups:
          - id: WIJNEGEM_SHOPPING_CENTER_EMPTIES
            pickup:
              locationId: WIJNEGEM
              duration: 300
              categories:
              - WIJNEGEM_SHOPPING_CENTER
              - ANTWERP
            properties:
              loads:
              - dimension: WEIGHT
                value: 2
              - dimension: CONTAINERS
                value: 12
          - id: WAASLAND_SHOPPING_CENTER_EMPTIES
            pickup:
              locationId: SINT_NIKLAAS
              duration: 300
              categories:
              - WAASLAND_SHOPPING_CENTER
              - EAST_FLANDERS
            properties:
              loads:
              - dimension: WEIGHT
                value: 2
              - dimension: CONTAINERS
                value: 8
          - id: SHOPPING_CENTER_GENT_ZUID_EMPTIES
            pickup:
              locationId: GENT
              duration: 300
              categories:
              - SHOPPING_CENTER_GENT_ZUID
              - EAST_FLANDERS
            properties:
              loads:
              - dimension: WEIGHT
                value: 2
              - dimension: CONTAINERS
                value: 6
          deliveries:
          - id: WIJNEGEM_SHOPPING_CENTER_DELIVERY
            delivery:
              locationId: WIJNEGEM
              timeSlotIds:
              - AFTERNOON
              duration: 900
              categories:
              - WIJNEGEM_SHOPPING_CENTER
              - ANTWERP
            properties:
              loads:
              - dimension: WEIGHT
                value: 15
              - dimension: CONTAINERS
                value: 10
          - id: WAASLAND_SHOPPING_CENTER_DELIVERY
            delivery:
              locationId: SINT_NIKLAAS
              timeSlotIds:
              - MORNING
              duration: 900
              categories:
              - WAASLAND_SHOPPING_CENTER
              - EAST_FLANDERS
            properties:
              loads:
              - dimension: WEIGHT
                value: 15
              - dimension: CONTAINERS
                value: 8
          - id: SHOPPING_CENTER_GENT_ZUID_DELIVERY
            delivery:
              locationId: GENT
              timeSlotIds:
              - MORNING
              duration: 900
              categories:
              - SHOPPING_CENTER_GENT_ZUID
              - EAST_FLANDERS
            properties:
              loads:
              - dimension: WEIGHT
                value: 15
              - dimension: CONTAINERS
                value: 4
        vehicles:
        - id: VEHICLE
          start:
            locationId: AALST
            earliestStartTime: 2023-01-01T08:00:00Z
            duration: 300
          end:
            locationId: AALST
            latestEndTime: 2023-01-01T16:00:00Z
            duration: 1200
          routing:
            profile: EUR_TRUCK_40T
            speedFactor: 1.2
          costs:
            perHour: 40
            perKilometer: 0.42
            fixed: 0
          breaks:
            working:
            - maximumWorkingDuration: 21600
              minimumBreakDuration: 1800
            - maximumWorkingDuration: 32400
              minimumBreakDuration: 2700
            driving:
            - maximumDrivingDuration: 16200
              minimumBreakDuration: 2700
          constraints:
            maximumLoads:
            - dimension: WEIGHT
              value: 40
            - dimension: CONTAINERS
              value: 26
            route:
              maximumDuration: 28800
        depots:
        - id: DEPOT
          locationId: AALST
        routes:
        - vehicleId: VEHICLE
          start: 2023-01-01T11:00:00Z
          tasks:
          - orderId: WIJNEGEM_SHOPPING_CENTER_DELIVERY
            type: PICKUP
            depotId: DEPOT
            timeSlotId: ALL_DAY
          - orderId: WIJNEGEM_SHOPPING_CENTER_DELIVERY
            type: DELIVERY
            timeSlotId: AFTERNOON
          - orderId: WIJNEGEM_SHOPPING_CENTER_EMPTIES
            type: PICKUP
            timeSlotId: AFTERNOON
          - orderId: WIJNEGEM_SHOPPING_CENTER_EMPTIES
            type: DELIVERY
            depotId: DEPOT
            timeSlotId: ALL_DAY
        constraints:
          tasks:
            groups:
            - taskCategory: WIJNEGEM_SHOPPING_CENTER
              constraint: SAME_ROUTE
            - taskCategory: WIJNEGEM_SHOPPING_CENTER
              constraint: CONSECUTIVE
            - taskCategory: WAASLAND_SHOPPING_CENTER
              constraint: SAME_ROUTE
            - taskCategory: WAASLAND_SHOPPING_CENTER
              constraint: CONSECUTIVE
            - taskCategory: SHOPPING_CENTER_GENT_ZUID
              constraint: SAME_ROUTE
            - taskCategory: SHOPPING_CENTER_GENT_ZUID
              constraint: CONSECUTIVE
            respectedSequences:
            - taskCategories:
              - EAST_FLANDERS
              - ANTWERP
    DeliveriesWithBackHaulsResult:
      description: "The result describes one route. The deliveries in East-Flanders\
        \ are executed before the deliveries in Antwerp, as required by the respected\
        \ task sequence. Every delivery in the route is followed by a pickup of empty\
        \ containers."
      summary: A result for the example where goods need to be delivered to shopping
        centers.
      value:
        id: 00112233-4455-6677-8899-aabbccddeeff
        status: SUCCEEDED
        routes:
        - vehicleId: VEHICLE
          start:
            locationId: AALST
            start: 2023-01-01T08:20:55Z
            duration: 300
            departure: 2023-01-01T08:25:55Z
          stops:
          - locationId: AALST
            approach:
              startLocationId: AALST
              departure: 2023-01-01T08:25:55Z
              endLocationId: AALST
              arrival: 2023-01-01T08:25:55Z
              breaks: []
              distance: 0
              drivingDuration: 0
            arrival: 2023-01-01T08:25:55Z
            preparationDuration: 0
            appointments:
            - timeSlotId: ALL_DAY
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T08:25:55Z
              preparationDuration: 900
              tasks:
              - orderId: SHOPPING_CENTER_GENT_ZUID_DELIVERY
                type: PICKUP
                breaks: []
                start: 2023-01-01T08:40:55Z
                duration: 0
                end: 2023-01-01T08:40:55Z
                depotId: DEPOT
              end: 2023-01-01T08:40:55Z
            departure: 2023-01-01T08:40:55Z
          - locationId: GENT
            approach:
              startLocationId: AALST
              departure: 2023-01-01T08:40:55Z
              endLocationId: GENT
              arrival: 2023-01-01T09:09:12Z
              breaks: []
              distance: 33956
              drivingDuration: 1697
            arrival: 2023-01-01T09:09:12Z
            preparationDuration: 0
            appointments:
            - timeSlotId: MORNING
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T09:09:12Z
              preparationDuration: 900
              tasks:
              - orderId: SHOPPING_CENTER_GENT_ZUID_DELIVERY
                type: DELIVERY
                breaks: []
                start: 2023-01-01T09:24:12Z
                duration: 900
                end: 2023-01-01T09:39:12Z
              - orderId: SHOPPING_CENTER_GENT_ZUID_EMPTIES
                type: PICKUP
                breaks: []
                start: 2023-01-01T09:39:12Z
                duration: 300
                end: 2023-01-01T09:44:12Z
              end: 2023-01-01T09:44:12Z
            departure: 2023-01-01T09:44:12Z
          - locationId: AALST
            approach:
              startLocationId: GENT
              departure: 2023-01-01T09:44:12Z
              endLocationId: AALST
              arrival: 2023-01-01T10:12:29Z
              breaks: []
              distance: 33956
              drivingDuration: 1697
            arrival: 2023-01-01T10:12:29Z
            preparationDuration: 0
            appointments:
            - timeSlotId: ALL_DAY
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T10:12:29Z
              preparationDuration: 900
              tasks:
              - orderId: SHOPPING_CENTER_GENT_ZUID_EMPTIES
                type: DELIVERY
                breaks: []
                start: 2023-01-01T10:27:29Z
                duration: 0
                end: 2023-01-01T10:27:29Z
                depotId: DEPOT
              - orderId: WIJNEGEM_SHOPPING_CENTER_DELIVERY
                type: PICKUP
                breaks: []
                start: 2023-01-01T10:27:29Z
                duration: 0
                end: 2023-01-01T10:27:29Z
                depotId: DEPOT
              - orderId: WAASLAND_SHOPPING_CENTER_DELIVERY
                type: PICKUP
                breaks: []
                start: 2023-01-01T10:27:29Z
                duration: 0
                end: 2023-01-01T10:27:29Z
                depotId: DEPOT
              end: 2023-01-01T10:27:29Z
            departure: 2023-01-01T10:27:29Z
          - locationId: SINT_NIKLAAS
            approach:
              startLocationId: AALST
              departure: 2023-01-01T10:27:29Z
              endLocationId: SINT_NIKLAAS
              arrival: 2023-01-01T10:55:50Z
              breaks: []
              distance: 34031
              drivingDuration: 1701
            arrival: 2023-01-01T10:55:50Z
            preparationDuration: 0
            appointments:
            - timeSlotId: MORNING
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T10:55:50Z
              preparationDuration: 900
              tasks:
              - orderId: WAASLAND_SHOPPING_CENTER_DELIVERY
                type: DELIVERY
                breaks: []
                start: 2023-01-01T11:10:50Z
                duration: 900
                end: 2023-01-01T11:25:50Z
              - orderId: WAASLAND_SHOPPING_CENTER_EMPTIES
                type: PICKUP
                breaks: []
                start: 2023-01-01T11:25:50Z
                duration: 300
                end: 2023-01-01T11:30:50Z
              end: 2023-01-01T11:30:50Z
            departure: 2023-01-01T11:30:50Z
          - locationId: WIJNEGEM
            approach:
              startLocationId: SINT_NIKLAAS
              departure: 2023-01-01T11:30:50Z
              endLocationId: WIJNEGEM
              arrival: 2023-01-01T12:00:00Z
              breaks: []
              distance: 35013
              drivingDuration: 1750
            arrival: 2023-01-01T12:00:00Z
            preparationDuration: 0
            appointments:
            - timeSlotId: AFTERNOON
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T12:00:00Z
              preparationDuration: 900
              tasks:
              - orderId: WIJNEGEM_SHOPPING_CENTER_DELIVERY
                type: DELIVERY
                breaks: []
                start: 2023-01-01T12:15:00Z
                duration: 900
                end: 2023-01-01T12:30:00Z
              - orderId: WIJNEGEM_SHOPPING_CENTER_EMPTIES
                type: PICKUP
                breaks: []
                start: 2023-01-01T12:30:00Z
                duration: 300
                end: 2023-01-01T12:35:00Z
              end: 2023-01-01T12:35:00Z
            departure: 2023-01-01T12:35:00Z
          - locationId: AALST
            approach:
              startLocationId: WIJNEGEM
              departure: 2023-01-01T12:35:00Z
              endLocationId: AALST
              arrival: 2023-01-01T13:26:34Z
              breaks: []
              distance: 61879
              drivingDuration: 3094
            arrival: 2023-01-01T13:26:34Z
            preparationDuration: 0
            appointments:
            - timeSlotId: ALL_DAY
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T13:26:34Z
              preparationDuration: 900
              tasks:
              - orderId: WIJNEGEM_SHOPPING_CENTER_EMPTIES
                type: DELIVERY
                breaks: []
                start: 2023-01-01T13:41:34Z
                duration: 0
                end: 2023-01-01T13:41:34Z
                depotId: DEPOT
              - orderId: WAASLAND_SHOPPING_CENTER_EMPTIES
                type: DELIVERY
                breaks: []
                start: 2023-01-01T13:41:34Z
                duration: 0
                end: 2023-01-01T13:41:34Z
                depotId: DEPOT
              end: 2023-01-01T13:41:34Z
            departure: 2023-01-01T13:41:34Z
          end:
            locationId: AALST
            approach:
              startLocationId: AALST
              departure: 2023-01-01T13:41:34Z
              endLocationId: AALST
              arrival: 2023-01-01T13:41:34Z
              breaks: []
              distance: 0
              drivingDuration: 0
            arrival: 2023-01-01T13:41:34Z
            duration: 1200
            end: 2023-01-01T14:01:34Z
          metrics:
            numberOfStops: 6
            cost: 310.6107
            distance: 198835
            duration: 20439
        metrics:
          numberOfUnscheduledOrders: 0
          numberOfRoutes: 1
          totalCost: 310.6107
          totalDistance: 198835
          totalDuration: 20439
        warnings: []
    NothingToOptimizeRequest:
      description: "An example where no order fits on any vehicle to illustrate an\
        \ optimization with an error. The example describes two orders that need to\
        \ be delivered by a van. However, the only provided vehicle is a truck."
      summary: Nothing to optimize
      value:
        settings:
          duration: 60
        locations:
        - id: VEHICLE_LOCATION
          latitude: 49.0134033317334
          longitude: 8.427810728833153
        - id: ORDER_LOCATION
          latitude: 50.95133957178395
          longitude: 3.8069107953333634
        orders:
          deliveries:
          - id: VAN_DELIVERY_ONE
            delivery:
              locationId: ORDER_LOCATION
            properties:
              categories:
              - VAN
          - id: VAN_DELIVERY_TWO
            delivery:
              locationId: ORDER_LOCATION
            properties:
              categories:
              - VAN
        vehicles:
        - id: TRUCK
          start:
            locationId: VEHICLE_LOCATION
            earliestStartTime: 2023-01-01T08:00:00Z
          end:
            locationId: VEHICLE_LOCATION
            latestEndTime: 2023-01-01T08:00:00Z
          routing:
            profile: EUR_TRUCK_40T
          costs:
            perHour: 40
            perKilometer: 0.42
          categories:
          - TRUCK
        depots:
        - id: DEPOT
          locationId: VEHICLE_LOCATION
        constraints:
          combinations:
            orderVehicle:
            - type: ORDER_REQUIRES_VEHICLE
              orderCategory: VAN
              vehicleCategory: VAN
    NothingToOptimizeResult:
      description: An example of an optimization result that contains an error. The
        optimization fails because all orders require to be transported by a van while
        the only provided vehicle is a truck.
      summary: Nothing to optimize
      value:
        id: 00112233-4455-6677-8899-aabbccddeeff
        status: FAILED
        routes: []
        error:
          description: No order can be scheduled on any route of the provided vehicles.
            The optimization stopped because there is nothing to optimize.
          errorCode: ROUTE_OPTIMIZATION_NOTHING_TO_OPTIMIZE
        warnings:
        - description: An order is excluded from optimization because it cannot be
            scheduled on any route of the provided vehicles.
          warningCode: ROUTE_OPTIMIZATION_NO_VEHICLE_FOR_ORDER
          details:
            orderId: VAN_DELIVERY_ONE
            reasons:
            - constraint: order-vehicle combination constraints
              numberOfVehicles: 1
              percentageOfVehicles: 100.00%
        - description: An order is excluded from optimization because it cannot be
            scheduled on any route of the provided vehicles.
          warningCode: ROUTE_OPTIMIZATION_NO_VEHICLE_FOR_ORDER
          details:
            orderId: VAN_DELIVERY_TWO
            reasons:
            - constraint: order-vehicle combination constraints
              numberOfVehicles: 1
              percentageOfVehicles: 100.00%
        - description: A vehicle is excluded from optimization because no order can
            be scheduled on the route of the vehicle.
          warningCode: ROUTE_OPTIMIZATION_NO_ORDER_FOR_VEHICLE
          details:
            vehicleId: TRUCK
            reasons:
            - constraint: order-vehicle combination constraints
              numberOfOrders: 2
              percentageOfOrders: 100.00%
    PostalServiceRequest:
      description: "An example with postal service deliveries. An order can either\
        \ be a delivery of letters or a parcel delivery, each requiring its own special\
        \ vehicle and depot. The letters for the king have high priority and should\
        \ be delivered before the letters with low priority. All letters for Westminster\
        \ need to be scheduled consecutively on the same route."
      summary: Postal service
      value:
        settings:
          duration: 60
        locations:
        - id: WESTMINSTER_ABBEY
          latitude: 51.49948921972983
          longitude: -0.12729997630224155
          stopProperties:
            timeSlots:
            - id: JANUARY_1_2024
              earliestStart: 2023-01-01T08:00:00Z
              latestStart: 2023-01-01T16:00:00Z
        - id: BUCKINGHAM_PALACE
          latitude: 51.50150756272127
          longitude: -0.14191146039830546
          stopProperties:
            timeSlots:
            - id: JANUARY_1_2024
              earliestStart: 2023-01-01T08:00:00Z
              latestStart: 2023-01-01T16:00:00Z
        - id: TOWER_OF_LONDON
          latitude: 51.50866109220283
          longitude: -0.07603696962238603
          stopProperties:
            timeSlots:
            - id: JANUARY_1_2024
              earliestStart: 2023-01-01T08:00:00Z
              latestStart: 2023-01-01T16:00:00Z
        - id: ST_PAULS_CATHEDRAL
          latitude: 51.51431805199424
          longitude: -0.09833332127399066
          stopProperties:
            timeSlots:
            - id: JANUARY_1_2024
              earliestStart: 2023-01-01T08:00:00Z
              latestStart: 2023-01-01T16:00:00Z
        - id: NATURAL_HISTORY_MUSEUM
          latitude: 51.497052329247055
          longitude: -0.17630176406284112
          stopProperties:
            timeSlots:
            - id: JANUARY_1_2024
              earliestStart: 2023-01-01T08:00:00Z
              latestStart: 2023-01-01T16:00:00Z
        - id: POSTAL_MUSEUM
          latitude: 51.524867174444
          longitude: -0.11387360545469306
          stopProperties:
            preparationDuration: 1200
            timeSlots:
            - id: JANUARY_1_2024
              earliestStart: 2023-01-01T08:00:00Z
              latestStart: 2023-01-01T16:00:00Z
        orders:
          deliveries:
          - id: LETTERS_FOR_THE_KING
            delivery:
              locationId: BUCKINGHAM_PALACE
              duration: 120
              categories:
              - WESTMINSTER
              - HIGH_PRIORITY
            properties:
              loads:
              - dimension: LETTERS
                value: 7
              categories:
              - LETTERS
          - id: LETTERS_FOR_THE_BISHOP
            delivery:
              locationId: WESTMINSTER_ABBEY
              duration: 120
              categories:
              - WESTMINSTER
              - LOW_PRIORITY
            properties:
              loads:
              - dimension: LETTERS
                value: 5
              categories:
              - LETTERS
          - id: LETTERS_FOR_THE_KNIGHT
            delivery:
              locationId: TOWER_OF_LONDON
              duration: 120
              categories:
              - LOW_PRIORITY
            properties:
              loads:
              - dimension: LETTERS
                value: 3
              categories:
              - LETTERS
          - id: HOLY_GRAIL
            delivery:
              locationId: ST_PAULS_CATHEDRAL
              duration: 240
            properties:
              loads:
              - dimension: WEIGHT
                value: 5
              outsourcingCost: 100
              categories:
              - PARCELS
          - id: DINOSAUR_BONE
            delivery:
              locationId: NATURAL_HISTORY_MUSEUM
              duration: 600
            properties:
              loads:
              - dimension: WEIGHT
                value: 25
              outsourcingCost: 200
              categories:
              - PARCELS
        vehicles:
        - id: LETTER_DELIVERY_VEHICLE
          start:
            locationId: POSTAL_MUSEUM
            earliestStartTime: 2023-01-01T08:00:00Z
            latestStartTime: 2023-01-01T09:00:00Z
            duration: 300
          end:
            locationId: POSTAL_MUSEUM
            latestEndTime: 2023-01-01T16:00:00Z
            duration: 300
          routing:
            profile: EUR_VAN
            speedFactor: 0.9
          costs:
            perHour: 40
            perKilometer: 0.42
            fixed: 0
          breaks:
            working:
            - maximumWorkingDuration: 1800
              minimumBreakDuration: 300
          constraints:
            maximumLoads:
            - dimension: LETTERS
              value: 20
          categories:
          - LETTER_DELIVERY_VAN
        - id: PARCEL_DELIVERY_VEHICLE
          start:
            locationId: POSTAL_MUSEUM
            earliestStartTime: 2023-01-01T08:00:00Z
            latestStartTime: 2023-01-01T09:00:00Z
            duration: 420
          end:
            locationId: POSTAL_MUSEUM
            latestEndTime: 2023-01-01T16:00:00Z
            duration: 420
          routing:
            profile: EUR_VAN
            speedFactor: 0.8
          costs:
            perHour: 50
            perKilometer: 0.5
            fixed: 0
          breaks:
            working:
            - maximumWorkingDuration: 1800
              minimumBreakDuration: 300
          constraints:
            maximumLoads:
            - dimension: WEIGHT
              value: 50
          categories:
          - PARCEL_DELIVERY_VAN
        depots:
        - id: LETTER_DEPOT
          locationId: POSTAL_MUSEUM
          categories:
          - LETTER_DEPOT
        - id: PARCEL_DEPOT
          locationId: POSTAL_MUSEUM
          categories:
          - PARCEL_DEPOT
        constraints:
          combinations:
            orderVehicle:
            - type: ORDER_REQUIRES_VEHICLE
              orderCategory: LETTERS
              vehicleCategory: LETTER_DELIVERY_VAN
            - type: ORDER_REQUIRES_VEHICLE
              orderCategory: PARCELS
              vehicleCategory: PARCEL_DELIVERY_VAN
            depotVehicle:
            - type: DEPOT_REQUIRES_VEHICLE
              depotCategory: LETTER_DEPOT
              vehicleCategory: LETTER_DELIVERY_VAN
            - type: DEPOT_REQUIRES_VEHICLE
              depotCategory: PARCEL_DEPOT
              vehicleCategory: PARCEL_DELIVERY_VAN
          tasks:
            groups:
            - taskCategory: WESTMINSTER
              constraint: SAME_ROUTE
            - taskCategory: WESTMINSTER
              constraint: CONSECUTIVE
            forbiddenSequences:
            - firstTaskCategory: LOW_PRIORITY
              type: NOT_BEFORE
              secondTaskCategory: HIGH_PRIORITY
              vehicleCategory: LETTER_DELIVERY_VAN
    PostalServiceResult:
      description: "This result contains two routes, one for letters, one for parcels.\
        \ Letters with high priority are delivered first. All letters for Westminster\
        \ are scheduled consecutively on the same route."
      summary: A result for postal service example.
      value:
        id: 00112233-4455-6677-8899-aabbccddeeff
        status: SUCCEEDED
        routes:
        - vehicleId: LETTER_DELIVERY_VEHICLE
          start:
            locationId: POSTAL_MUSEUM
            start: 2023-01-01T08:00:00Z
            duration: 300
            departure: 2023-01-01T08:05:00Z
          stops:
          - locationId: POSTAL_MUSEUM
            approach:
              startLocationId: POSTAL_MUSEUM
              departure: 2023-01-01T08:05:00Z
              endLocationId: POSTAL_MUSEUM
              arrival: 2023-01-01T08:05:00Z
              breaks: []
              distance: 0
              drivingDuration: 0
            arrival: 2023-01-01T08:05:00Z
            preparationDuration: 1200
            appointments:
            - timeSlotId: JANUARY_1_2024
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T08:25:00Z
              preparationDuration: 0
              tasks:
              - orderId: LETTERS_FOR_THE_KNIGHT
                type: PICKUP
                breaks: []
                start: 2023-01-01T08:25:00Z
                duration: 0
                end: 2023-01-01T08:25:00Z
                depotId: LETTER_DEPOT
              - orderId: LETTERS_FOR_THE_BISHOP
                type: PICKUP
                breaks: []
                start: 2023-01-01T08:25:00Z
                duration: 0
                end: 2023-01-01T08:25:00Z
                depotId: LETTER_DEPOT
              - orderId: LETTERS_FOR_THE_KING
                type: PICKUP
                breaks: []
                start: 2023-01-01T08:25:00Z
                duration: 0
                end: 2023-01-01T08:25:00Z
                depotId: LETTER_DEPOT
              end: 2023-01-01T08:25:00Z
            departure: 2023-01-01T08:25:00Z
          - locationId: BUCKINGHAM_PALACE
            approach:
              startLocationId: POSTAL_MUSEUM
              departure: 2023-01-01T08:25:00Z
              endLocationId: BUCKINGHAM_PALACE
              arrival: 2023-01-01T08:34:57Z
              breaks:
              - start: 2023-01-01T08:29:57Z
                duration: 300
                end: 2023-01-01T08:34:57Z
              distance: 4474
              drivingDuration: 297
            arrival: 2023-01-01T08:34:57Z
            preparationDuration: 0
            appointments:
            - timeSlotId: JANUARY_1_2024
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T08:34:57Z
              preparationDuration: 0
              tasks:
              - orderId: LETTERS_FOR_THE_KING
                type: DELIVERY
                breaks: []
                start: 2023-01-01T08:34:57Z
                duration: 120
                end: 2023-01-01T08:36:57Z
              end: 2023-01-01T08:36:57Z
            departure: 2023-01-01T08:36:57Z
          - locationId: WESTMINSTER_ABBEY
            approach:
              startLocationId: BUCKINGHAM_PALACE
              departure: 2023-01-01T08:36:57Z
              endLocationId: WESTMINSTER_ABBEY
              arrival: 2023-01-01T08:38:32Z
              breaks: []
              distance: 1430
              drivingDuration: 95
            arrival: 2023-01-01T08:38:32Z
            preparationDuration: 0
            appointments:
            - timeSlotId: JANUARY_1_2024
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T08:38:32Z
              preparationDuration: 0
              tasks:
              - orderId: LETTERS_FOR_THE_BISHOP
                type: DELIVERY
                breaks: []
                start: 2023-01-01T08:38:32Z
                duration: 120
                end: 2023-01-01T08:40:32Z
              end: 2023-01-01T08:40:32Z
            departure: 2023-01-01T08:40:32Z
          - locationId: TOWER_OF_LONDON
            approach:
              startLocationId: WESTMINSTER_ABBEY
              departure: 2023-01-01T08:40:32Z
              endLocationId: TOWER_OF_LONDON
              arrival: 2023-01-01T08:46:12Z
              breaks: []
              distance: 5095
              drivingDuration: 340
            arrival: 2023-01-01T08:46:12Z
            preparationDuration: 0
            appointments:
            - timeSlotId: JANUARY_1_2024
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T08:46:12Z
              preparationDuration: 0
              tasks:
              - orderId: LETTERS_FOR_THE_KNIGHT
                type: DELIVERY
                breaks: []
                start: 2023-01-01T08:46:12Z
                duration: 120
                end: 2023-01-01T08:48:12Z
              end: 2023-01-01T08:48:12Z
            departure: 2023-01-01T08:48:12Z
          end:
            locationId: POSTAL_MUSEUM
            approach:
              startLocationId: TOWER_OF_LONDON
              departure: 2023-01-01T08:48:12Z
              endLocationId: POSTAL_MUSEUM
              arrival: 2023-01-01T08:53:04Z
              breaks: []
              distance: 4386
              drivingDuration: 292
            arrival: 2023-01-01T08:53:04Z
            duration: 300
            end: 2023-01-01T08:58:04Z
          metrics:
            numberOfStops: 4
            cost: 45.172811111111116
            distance: 15385
            duration: 3484
        - vehicleId: PARCEL_DELIVERY_VEHICLE
          start:
            locationId: POSTAL_MUSEUM
            start: 2023-01-01T08:00:00Z
            duration: 420
            departure: 2023-01-01T08:07:00Z
          stops:
          - locationId: POSTAL_MUSEUM
            approach:
              startLocationId: POSTAL_MUSEUM
              departure: 2023-01-01T08:07:00Z
              endLocationId: POSTAL_MUSEUM
              arrival: 2023-01-01T08:07:00Z
              breaks: []
              distance: 0
              drivingDuration: 0
            arrival: 2023-01-01T08:07:00Z
            preparationDuration: 1200
            appointments:
            - timeSlotId: JANUARY_1_2024
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T08:27:00Z
              preparationDuration: 0
              tasks:
              - orderId: DINOSAUR_BONE
                type: PICKUP
                breaks: []
                start: 2023-01-01T08:27:00Z
                duration: 0
                end: 2023-01-01T08:27:00Z
                depotId: PARCEL_DEPOT
              - orderId: HOLY_GRAIL
                type: PICKUP
                breaks: []
                start: 2023-01-01T08:27:00Z
                duration: 0
                end: 2023-01-01T08:27:00Z
                depotId: PARCEL_DEPOT
              end: 2023-01-01T08:27:00Z
            departure: 2023-01-01T08:27:00Z
          - locationId: ST_PAULS_CATHEDRAL
            approach:
              startLocationId: POSTAL_MUSEUM
              departure: 2023-01-01T08:27:00Z
              endLocationId: ST_PAULS_CATHEDRAL
              arrival: 2023-01-01T08:34:45Z
              breaks:
              - start: 2023-01-01T08:29:45Z
                duration: 300
                end: 2023-01-01T08:34:45Z
              distance: 2196
              drivingDuration: 165
            arrival: 2023-01-01T08:34:45Z
            preparationDuration: 0
            appointments:
            - timeSlotId: JANUARY_1_2024
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T08:34:45Z
              preparationDuration: 0
              tasks:
              - orderId: HOLY_GRAIL
                type: DELIVERY
                breaks: []
                start: 2023-01-01T08:34:45Z
                duration: 240
                end: 2023-01-01T08:38:45Z
              end: 2023-01-01T08:38:45Z
            departure: 2023-01-01T08:38:45Z
          - locationId: NATURAL_HISTORY_MUSEUM
            approach:
              startLocationId: ST_PAULS_CATHEDRAL
              departure: 2023-01-01T08:38:45Z
              endLocationId: NATURAL_HISTORY_MUSEUM
              arrival: 2023-01-01T08:48:37Z
              breaks: []
              distance: 7905
              drivingDuration: 592
            arrival: 2023-01-01T08:48:37Z
            preparationDuration: 0
            appointments:
            - timeSlotId: JANUARY_1_2024
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T08:48:37Z
              preparationDuration: 0
              tasks:
              - orderId: DINOSAUR_BONE
                type: DELIVERY
                breaks: []
                start: 2023-01-01T08:48:37Z
                duration: 600
                end: 2023-01-01T08:58:37Z
              end: 2023-01-01T08:58:37Z
            departure: 2023-01-01T08:58:37Z
          end:
            locationId: POSTAL_MUSEUM
            approach:
              startLocationId: NATURAL_HISTORY_MUSEUM
              departure: 2023-01-01T08:58:37Z
              endLocationId: POSTAL_MUSEUM
              arrival: 2023-01-01T09:12:47Z
              breaks:
              - start: 2023-01-01T09:04:45Z
                duration: 300
                end: 2023-01-01T09:09:45Z
              distance: 7332
              drivingDuration: 550
            arrival: 2023-01-01T09:12:47Z
            duration: 420
            end: 2023-01-01T09:19:47Z
          metrics:
            numberOfStops: 3
            cost: 75.20261111111111
            distance: 17433
            duration: 4787
        metrics:
          numberOfUnscheduledOrders: 0
          numberOfRoutes: 2
          totalCost: 120.37542222222223
          totalDistance: 32818
          totalDuration: 8271
        warnings: []
    TaxiServiceRequest:
      description: An example of a taxi service. Customers are picked up from and
        delivered to various historical locations throughout Paris. Every customer
        waits to be picked up at a specific moment in time and will be delivered to
        their desired destination. A taxi driver is only allowed to transport one
        customer at a time.
      summary: Taxi service
      value:
        settings:
          duration: 60
        locations:
        - id: ARC_DE_TRIOMPHE
          latitude: 48.87482533759566
          longitude: 2.297254419239158
          stopProperties:
            timeSlots:
            - id: OPEN_DELIVERY_SLOT
              earliestStart: 2023-01-01T06:00:00Z
              latestStart: 2023-01-01T19:00:00Z
        - id: LOUVRE
          latitude: 48.86338000295257
          longitude: 2.333804516574317
          stopProperties:
            timeSlots:
            - id: OPEN_DELIVERY_SLOT
              earliestStart: 2023-01-01T06:00:00Z
              latestStart: 2023-01-01T19:00:00Z
            - id: SIMONE_DE_BEAUVOIR_PICKUP_SLOT
              earliestStart: 2023-01-01T10:27:00Z
              latestStart: 2023-01-01T10:27:00Z
        - id: CENTRE_POMPIDOU
          latitude: 48.86072611067245
          longitude: 2.3524297743303344
          stopProperties:
            timeSlots:
            - id: OPEN_DELIVERY_SLOT
              earliestStart: 2023-01-01T06:00:00Z
              latestStart: 2023-01-01T19:00:00Z
            - id: RENE_DESCARTES_PICKUP_SLOT
              earliestStart: 2023-01-01T11:45:00Z
              latestStart: 2023-01-01T11:45:00Z
        - id: LE_MUR_DES_JUSTES
          latitude: 48.85676242751961
          longitude: 2.3555564012790122
          stopProperties:
            timeSlots:
            - id: OPEN_DELIVERY_SLOT
              earliestStart: 2023-01-01T06:00:00Z
              latestStart: 2023-01-01T19:00:00Z
            - id: JEAN-JACQUES_ROUSSEAU_PICKUP_SLOT
              earliestStart: 2023-01-01T13:07:00Z
              latestStart: 2023-01-01T13:07:00Z
        - id: TOMBEAU_DE_NAPOLEON_1ER
          latitude: 48.85970506874084
          longitude: 2.3626445395406876
          stopProperties:
            timeSlots:
            - id: OPEN_DELIVERY_SLOT
              earliestStart: 2023-01-01T06:00:00Z
              latestStart: 2023-01-01T19:00:00Z
            - id: JEAN-PAUL_SARTRE_PICKUP_SLOT
              earliestStart: 2023-01-01T14:12:00Z
              latestStart: 2023-01-01T14:12:00Z
        - id: TOUR_EIFFEL
          latitude: 48.859378586554485
          longitude: 2.294433172091014
          stopProperties:
            timeSlots:
            - id: OPEN_DELIVERY_SLOT
              earliestStart: 2023-01-01T06:00:00Z
              latestStart: 2023-01-01T19:00:00Z
        orders:
          pickupDeliveries:
          - id: SIMONE_DE_BEAUVOIR
            pickup:
              locationId: LOUVRE
              timeSlotIds:
              - SIMONE_DE_BEAUVOIR_PICKUP_SLOT
              duration: 120
            delivery:
              locationId: TOMBEAU_DE_NAPOLEON_1ER
              timeSlotIds:
              - OPEN_DELIVERY_SLOT
              duration: 60
            properties:
              loads:
              - dimension: CUSTOMER
                value: 1
          - id: RENE_DESCARTES
            pickup:
              locationId: CENTRE_POMPIDOU
              timeSlotIds:
              - RENE_DESCARTES_PICKUP_SLOT
              duration: 120
            delivery:
              locationId: ARC_DE_TRIOMPHE
              timeSlotIds:
              - OPEN_DELIVERY_SLOT
              duration: 60
            properties:
              loads:
              - dimension: CUSTOMER
                value: 1
          - id: JEAN-JACQUES_ROUSSEAU
            pickup:
              locationId: LE_MUR_DES_JUSTES
              timeSlotIds:
              - JEAN-JACQUES_ROUSSEAU_PICKUP_SLOT
              duration: 120
            delivery:
              locationId: LOUVRE
              timeSlotIds:
              - OPEN_DELIVERY_SLOT
              duration: 60
            properties:
              loads:
              - dimension: CUSTOMER
                value: 1
          - id: JEAN-PAUL_SARTRE
            pickup:
              locationId: TOMBEAU_DE_NAPOLEON_1ER
              timeSlotIds:
              - JEAN-PAUL_SARTRE_PICKUP_SLOT
              duration: 120
            delivery:
              locationId: TOUR_EIFFEL
              timeSlotIds:
              - OPEN_DELIVERY_SLOT
              duration: 60
            properties:
              loads:
              - dimension: CUSTOMER
                value: 1
        vehicles:
        - id: VEHICLE
          start:
            locationId: ARC_DE_TRIOMPHE
            earliestStartTime: 2023-01-01T05:00:00Z
          end:
            locationId: ARC_DE_TRIOMPHE
            latestEndTime: 2023-01-01T21:00:00Z
          routing:
            profile: EUR_VAN
            speedFactor: 1.1
          costs:
            perHour: 40
            perKilometer: 0.42
            fixed: 0
          constraints:
            maximumLoads:
            - dimension: CUSTOMER
              value: 1
    TaxiServiceResult:
      description: "The result contains one route. The taxi driver waits at the pickup\
        \ locations until the customer is ready to be picked up. All customers are\
        \ transported separately, as required by the maximum load of the vehicle."
      summary: A result for the taxi service example.
      value:
        id: 00112233-4455-6677-8899-aabbccddeeff
        status: SUCCEEDED
        routes:
        - vehicleId: VEHICLE
          start:
            locationId: ARC_DE_TRIOMPHE
            start: 2023-01-01T10:23:18Z
            duration: 0
            departure: 2023-01-01T10:23:18Z
          stops:
          - locationId: LOUVRE
            approach:
              startLocationId: ARC_DE_TRIOMPHE
              departure: 2023-01-01T10:23:18Z
              endLocationId: LOUVRE
              arrival: 2023-01-01T10:27:00Z
              breaks: []
              distance: 4086
              drivingDuration: 222
            arrival: 2023-01-01T10:27:00Z
            preparationDuration: 0
            appointments:
            - timeSlotId: SIMONE_DE_BEAUVOIR_PICKUP_SLOT
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T10:27:00Z
              preparationDuration: 0
              tasks:
              - orderId: SIMONE_DE_BEAUVOIR
                type: PICKUP
                breaks: []
                start: 2023-01-01T10:27:00Z
                duration: 120
                end: 2023-01-01T10:29:00Z
              end: 2023-01-01T10:29:00Z
            departure: 2023-01-01T10:29:00Z
          - locationId: TOMBEAU_DE_NAPOLEON_1ER
            approach:
              startLocationId: LOUVRE
              departure: 2023-01-01T10:29:00Z
              endLocationId: TOMBEAU_DE_NAPOLEON_1ER
              arrival: 2023-01-01T10:31:41Z
              breaks: []
              distance: 2966
              drivingDuration: 161
            arrival: 2023-01-01T10:31:41Z
            preparationDuration: 0
            appointments:
            - timeSlotId: OPEN_DELIVERY_SLOT
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T10:31:41Z
              preparationDuration: 0
              tasks:
              - orderId: SIMONE_DE_BEAUVOIR
                type: DELIVERY
                breaks: []
                start: 2023-01-01T10:31:41Z
                duration: 60
                end: 2023-01-01T10:32:41Z
              end: 2023-01-01T10:32:41Z
            departure: 2023-01-01T10:32:41Z
          - locationId: CENTRE_POMPIDOU
            approach:
              startLocationId: TOMBEAU_DE_NAPOLEON_1ER
              departure: 2023-01-01T10:32:41Z
              endLocationId: CENTRE_POMPIDOU
              arrival: 2023-01-01T10:33:38Z
              breaks: []
              distance: 1043
              drivingDuration: 57
            arrival: 2023-01-01T10:33:38Z
            preparationDuration: 0
            appointments:
            - timeSlotId: RENE_DESCARTES_PICKUP_SLOT
              breaks: []
              waitingDuration: 4282
              start: 2023-01-01T11:45:00Z
              preparationDuration: 0
              tasks:
              - orderId: RENE_DESCARTES
                type: PICKUP
                breaks: []
                start: 2023-01-01T11:45:00Z
                duration: 120
                end: 2023-01-01T11:47:00Z
              end: 2023-01-01T11:47:00Z
            departure: 2023-01-01T11:47:00Z
          - locationId: ARC_DE_TRIOMPHE
            approach:
              startLocationId: CENTRE_POMPIDOU
              departure: 2023-01-01T11:47:00Z
              endLocationId: ARC_DE_TRIOMPHE
              arrival: 2023-01-01T11:52:26Z
              breaks: []
              distance: 5975
              drivingDuration: 326
            arrival: 2023-01-01T11:52:26Z
            preparationDuration: 0
            appointments:
            - timeSlotId: OPEN_DELIVERY_SLOT
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T11:52:26Z
              preparationDuration: 0
              tasks:
              - orderId: RENE_DESCARTES
                type: DELIVERY
                breaks: []
                start: 2023-01-01T11:52:26Z
                duration: 60
                end: 2023-01-01T11:53:26Z
              end: 2023-01-01T11:53:26Z
            departure: 2023-01-01T11:53:26Z
          - locationId: LE_MUR_DES_JUSTES
            approach:
              startLocationId: ARC_DE_TRIOMPHE
              departure: 2023-01-01T11:53:26Z
              endLocationId: LE_MUR_DES_JUSTES
              arrival: 2023-01-01T11:59:20Z
              breaks: []
              distance: 6505
              drivingDuration: 354
            arrival: 2023-01-01T11:59:20Z
            preparationDuration: 0
            appointments:
            - timeSlotId: JEAN-JACQUES_ROUSSEAU_PICKUP_SLOT
              breaks: []
              waitingDuration: 4060
              start: 2023-01-01T13:07:00Z
              preparationDuration: 0
              tasks:
              - orderId: JEAN-JACQUES_ROUSSEAU
                type: PICKUP
                breaks: []
                start: 2023-01-01T13:07:00Z
                duration: 120
                end: 2023-01-01T13:09:00Z
              end: 2023-01-01T13:09:00Z
            departure: 2023-01-01T13:09:00Z
          - locationId: LOUVRE
            approach:
              startLocationId: LE_MUR_DES_JUSTES
              departure: 2023-01-01T13:09:00Z
              endLocationId: LOUVRE
              arrival: 2023-01-01T13:11:11Z
              breaks: []
              distance: 2419
              drivingDuration: 131
            arrival: 2023-01-01T13:11:11Z
            preparationDuration: 0
            appointments:
            - timeSlotId: OPEN_DELIVERY_SLOT
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T13:11:11Z
              preparationDuration: 0
              tasks:
              - orderId: JEAN-JACQUES_ROUSSEAU
                type: DELIVERY
                breaks: []
                start: 2023-01-01T13:11:11Z
                duration: 60
                end: 2023-01-01T13:12:11Z
              end: 2023-01-01T13:12:11Z
            departure: 2023-01-01T13:12:11Z
          - locationId: TOMBEAU_DE_NAPOLEON_1ER
            approach:
              startLocationId: LOUVRE
              departure: 2023-01-01T13:12:11Z
              endLocationId: TOMBEAU_DE_NAPOLEON_1ER
              arrival: 2023-01-01T13:14:52Z
              breaks: []
              distance: 2966
              drivingDuration: 161
            arrival: 2023-01-01T13:14:52Z
            preparationDuration: 0
            appointments:
            - timeSlotId: JEAN-PAUL_SARTRE_PICKUP_SLOT
              breaks: []
              waitingDuration: 3428
              start: 2023-01-01T14:12:00Z
              preparationDuration: 0
              tasks:
              - orderId: JEAN-PAUL_SARTRE
                type: PICKUP
                breaks: []
                start: 2023-01-01T14:12:00Z
                duration: 120
                end: 2023-01-01T14:14:00Z
              end: 2023-01-01T14:14:00Z
            departure: 2023-01-01T14:14:00Z
          - locationId: TOUR_EIFFEL
            approach:
              startLocationId: TOMBEAU_DE_NAPOLEON_1ER
              departure: 2023-01-01T14:14:00Z
              endLocationId: TOUR_EIFFEL
              arrival: 2023-01-01T14:20:15Z
              breaks: []
              distance: 6886
              drivingDuration: 375
            arrival: 2023-01-01T14:20:15Z
            preparationDuration: 0
            appointments:
            - timeSlotId: OPEN_DELIVERY_SLOT
              breaks: []
              waitingDuration: 0
              start: 2023-01-01T14:20:15Z
              preparationDuration: 0
              tasks:
              - orderId: JEAN-PAUL_SARTRE
                type: DELIVERY
                breaks: []
                start: 2023-01-01T14:20:15Z
                duration: 60
                end: 2023-01-01T14:21:15Z
              end: 2023-01-01T14:21:15Z
            departure: 2023-01-01T14:21:15Z
          end:
            locationId: ARC_DE_TRIOMPHE
            approach:
              startLocationId: TOUR_EIFFEL
              departure: 2023-01-01T14:21:15Z
              endLocationId: ARC_DE_TRIOMPHE
              arrival: 2023-01-01T14:23:25Z
              breaks: []
              distance: 2387
              drivingDuration: 130
            arrival: 2023-01-01T14:23:25Z
            duration: 0
            end: 2023-01-01T14:23:25Z
          metrics:
            numberOfStops: 8
            cost: 174.87563777777777
            distance: 35233
            duration: 14407
        metrics:
          numberOfUnscheduledOrders: 0
          numberOfRoutes: 1
          totalCost: 174.87563777777777
          totalDistance: 35233
          totalDuration: 14407
        warnings: []
  parameters:
    OptimizationIdentifierPathParameter:
      description: A unique identifier of the optimization.
      explode: false
      in: path
      name: id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
  schemas:
    Appointment:
      description: A collection of consecutive tasks that are allocated to a time
        slot.
      example:
        timeSlotId: NOON
        breaks:
        - duration: 1800
          start: 2023-10-03T11:00:00Z
          end: 2023-10-03T11:30:00Z
        - duration: 1800
          start: 2023-10-03T11:00:00Z
          end: 2023-10-03T11:30:00Z
        preparationDuration: 1800
        waitingDuration: 0
        start: 2023-10-03T12:00:00Z
        end: 2023-10-03T13:00:00Z
        tasks:
        - duration: 1800
          compartmentId: FROZEN
          breaks:
          - duration: 1800
            start: 2023-10-03T11:00:00Z
            end: 2023-10-03T11:30:00Z
          - duration: 1800
            start: 2023-10-03T11:00:00Z
            end: 2023-10-03T11:30:00Z
          orderId: ORDER-123
          start: 2023-10-03T13:30:00Z
          depotId: DEPOT-123
          end: 2023-10-03T14:00:00Z
          type: PICKUP
        - duration: 1800
          compartmentId: FROZEN
          breaks:
          - duration: 1800
            start: 2023-10-03T11:00:00Z
            end: 2023-10-03T11:30:00Z
          - duration: 1800
            start: 2023-10-03T11:00:00Z
            end: 2023-10-03T11:30:00Z
          orderId: ORDER-123
          start: 2023-10-03T13:30:00Z
          depotId: DEPOT-123
          end: 2023-10-03T14:00:00Z
          type: PICKUP
      properties:
        timeSlotId:
          description: The unique identifier of the time slot this appointment is
            assigned to.
          example: NOON
          maxLength: 36
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]{1,36}$"
          type: string
        breaks:
          default: []
          description: A list of breaks that are scheduled to be taken before the
            appointment.
          items:
            $ref: "#/components/schemas/Break"
          type: array
        waitingDuration:
          description: "The duration [s] of the waiting period before the appointment\
            \ can start."
          example: 0
          format: int32
          minimum: 0
          type: integer
        start:
          description: "The point in time when the appointment starts. Formatted according\
            \ to [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6)."
          example: 2023-10-03T12:00:00Z
          format: date-time
          type: string
        preparationDuration:
          description: "The duration [s] of the preparation period before the first\
            \ task can start. This is determined by the allocated time slot."
          example: 1800
          format: int32
          minimum: 0
          type: integer
        tasks:
          description: "The list of tasks that are scheduled to be executed within\
            \ this appointment. Each task can either be a pickup or a delivery. For\
            \ every order scheduled on the route, the route will contain a task describing\
            \ the pickup of the order and a task describing the delivery of the order.\
            \ When the order is a pickup order (resp. delivery order), its delivery\
            \ task (resp. pickup task) will be scheduled at a depot."
          items:
            $ref: "#/components/schemas/Task"
          minItems: 1
          type: array
        end:
          description: "The point in time when the appointment ends. Formatted according\
            \ to [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6)."
          example: 2023-10-03T13:00:00Z
          format: date-time
          type: string
      type: object
    Break:
      description: A break scheduled in a route according the vehicle break parameters.
      example:
        duration: 1800
        start: 2023-10-03T11:00:00Z
        end: 2023-10-03T11:30:00Z
      properties:
        start:
          description: "The point in time when the break starts. Formatted according\
            \ to [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6)."
          example: 2023-10-03T11:00:00Z
          format: date-time
          type: string
        duration:
          description: "The duration [s] of the break."
          example: 1800
          format: int32
          minimum: 0
          type: integer
        end:
          description: "The point in time when the break ends. Formatted according\
            \ to [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6)."
          example: 2023-10-03T11:30:00Z
          format: date-time
          type: string
      type: object
    BreakSettings:
      description: Specifies when the driver of the vehicle must take a break during
        the route.
      example:
        driving:
        - maximumDrivingDuration: 16200
          minimumBreakDuration: 2700
        - maximumDrivingDuration: 16200
          minimumBreakDuration: 2700
        working:
        - maximumWorkingDuration: 21600
          minimumBreakDuration: 1800
        - maximumWorkingDuration: 21600
          minimumBreakDuration: 1800
      properties:
        working:
          default: []
          description: A list of restrictions that specify how long the driver of
            the vehicle may work without taking a break. All the time spent during
            a route is considered working time except for waiting time and break time.
          items:
            $ref: "#/components/schemas/WorkingBreakSettings"
          maxItems: 2
          type: array
        driving:
          default: []
          description: A list of restrictions that specify how long the driver of
            the vehicle may drive without taking a break of at least the specified
            duration.
          items:
            $ref: "#/components/schemas/DrivingBreakSettings"
          maxItems: 2
          type: array
      type: object
    BreakStructure:
      description: A break scheduled on a route.
      example:
        duration: 1800
        start: 2023-10-03T11:00:00Z
      properties:
        start:
          description: |-
            The point in time when the break starts.
            Formatted according to [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6).
            The date must not be before `1970-01-01T00:00:00+00:00` nor after `2037-12-31T23:59:59+00:00`.
            The date must provide an offset to UTC.
          example: 2023-10-03T11:00:00Z
          format: date-time
          type: string
        duration:
          description: "The duration [s] of the break."
          example: 1800
          format: int32
          minimum: 0
          type: integer
      required:
      - duration
      - start
      type: object
    CausingError:
      properties:
        description:
          description: A human readable message that describes the error.
          type: string
        errorCode:
          description: |-
            A constant string that can be used to identify this error class programmatically.

            If additional information is available for an errorCode, it will be provided as key-value pairs with the parameter **details**. The keys available for a specific errorCode are documented directly with the errorCode. Unless stated otherwise, the values are of type string.

            As an example, the following errorCode provides one key-value pair in the **details**. The key is called **value**.
            * `GENERAL_INVALID_VALUE` - A parameter is set to an invalid value.
              * `value` - The invalid value.

            Note that additional errorCodes as well as the **details** of existing errorCodes may be added at any time. Furthermore, the **description** may change at any time.

            **Error codes for** `GENERAL_VALIDATION_ERROR`
            * `GENERAL_UNRECOGNIZED_PARAMETER` - A parameter is unknown.
            * `GENERAL_MISSING_PARAMETER` - A required parameter is missing.
            * `GENERAL_TYPE_VIOLATED` - The value of a parameter has an invalid type.
              * `type` - The type.
            * `GENERAL_FORMAT_VIOLATED` - The value of a parameter has an invalid format.
              * `format` - The format.
            * `GENERAL_PATTERN_VIOLATED` - The value of a string parameter does not satisfy the required pattern.
              * `pattern` - The pattern.
            * `GENERAL_MINIMUM_LENGTH_VIOLATED` - The minimum length of a string is violated.
              * `minimumLength` - The minimum length (integer).
            * `GENERAL_MAXIMUM_LENGTH_VIOLATED` - The maximum length of a string is violated.
              * `maximumLength` - The maximum length (integer).
            * `GENERAL_MINIMUM_ITEMS_VIOLATED` - The minimum number of items of an array is violated.
              * `minimumItems` - The minimum number of items (integer).
            * `GENERAL_MAXIMUM_ITEMS_VIOLATED` - The maximum number of items of an array is violated.
              * `maximumItems` - The maximum number of items (integer).
            * `GENERAL_UNIQUE_ITEMS_VIOLATED` - The items of an array are not unique.
              * `indexes` - The list of indexes that have the same value.
            * `GENERAL_MINIMUM_VALUE_VIOLATED` - The minimum value of a parameter is violated.
              * `minimumValue` - The minimum value (integer or double).
            * `GENERAL_MAXIMUM_VALUE_VIOLATED` - The maximum value of a parameter is violated.
              * `maximumValue` - The maximum value (integer or double).
            * `GENERAL_MULTIPLE_OF_VIOLATED` - The value of a parameter is not a multiple of a specific value.
              * `multipleOf` - The number the value should be a multiple of (integer or double).
            * `GENERAL_ENUM_VIOLATED` - The value of a parameter is not one of the specified enum values.
              * `enum` - The allowed enum values.
            * `GENERAL_INVALID_VALUE` - A parameter is set to an invalid value.
              * `value` - The invalid value.
              * `message` - A message explaining the invalid value.
            * `GENERAL_CONFLICTING_PARAMETER` - The value of a parameter conflicts with the value of one or more other parameters.
              * `conflictingParameters` - The parameters whose values cause the conflict.
              * `message` - A message explaining the conflict.
            * `GENERAL_DUPLICATE_PARAMETER` - A parameter is duplicated.

            **Error codes for** `ROUTE_OPTIMIZATION_RESTRICTION_EXCEEDED`
            * `ROUTE_OPTIMIZATION_TOO_MANY_LOCATIONS` - The request contains too many locations.
              * `locations` - The number of locations.
              * `limit` - The limit.
            * `ROUTE_OPTIMIZATION_TOO_MANY_ORDERS` - The request contains too many orders.
              * `orders` - The number of orders.
              * `limit` - The limit.
            * `ROUTE_OPTIMIZATION_TOO_MANY_VEHICLES` - The request contains too many vehicles.
              * `vehicles` - The number of vehicles.
              * `limit` - The limit.
            * `ROUTE_OPTIMIZATION_TOO_LONG_DURATION` - The duration of the request is too long.
              * `duration` - The duration of the request [s].
              * `limit` - The limit.
            * `ROUTE_OPTIMIZATION_TOO_MANY_PROFILES` - The request contains too many different combinations of profiles and traffic modes.
              * `profiles` - The number of combinations of profiles and traffic modes.
              * `limit` - The limit.
            * `ROUTE_OPTIMIZATION_TOO_MANY_OPTIMIZATIONS` - The maximum number of concurrent optimizations is exceeded.
              * `runningOptimizationIds` - Currently running optimization ids [string].
              * `limit` - The limit.
            * `ROUTE_OPTIMIZATION_ROUTES_FORBIDDEN` - The request is not allowed to contain routes.
            * `ROUTE_OPTIMIZATION_STOP_CONCURRENCY_FORBIDDEN` - The request is not allowed to contain locations with stop concurrency.

            **Error codes for** `GENERAL_RESOURCE_NOT_FOUND`
            * `GENERAL_INVALID_ID` - No resource exists for the provided ID.
              * `value` - The ID for which no resource exists.

            **Error codes for** `GENERAL_UNSUPPORTED_MEDIA_TYPE`
            * `GENERAL_INVALID_CONTENT_ENCODING` - The content encoding of the request is not supported.
              * `contentEncodings` - A list of supported content encodings.
          type: string
        parameter:
          description: The name of the affected query or path parameter or a JSONPath
            to the affected property of the request.
          type: string
        details:
          additionalProperties: true
          description: Additional properties specific to this error class.
          type: object
      required:
      - description
      - errorCode
      type: object
    CombinationConstraints:
      description: "Describes constraints on combinations of orders, vehicles and\
        \ depots."
      example:
        depotVehicle:
        - depotCategory: NO_LOADING_BAY
          type: DEPOT_REQUIRES_VEHICLE
          vehicleCategory: FORK_LIFT
        - depotCategory: NO_LOADING_BAY
          type: DEPOT_REQUIRES_VEHICLE
          vehicleCategory: FORK_LIFT
        - depotCategory: NO_LOADING_BAY
          type: DEPOT_REQUIRES_VEHICLE
          vehicleCategory: FORK_LIFT
        - depotCategory: NO_LOADING_BAY
          type: DEPOT_REQUIRES_VEHICLE
          vehicleCategory: FORK_LIFT
        - depotCategory: NO_LOADING_BAY
          type: DEPOT_REQUIRES_VEHICLE
          vehicleCategory: FORK_LIFT
        orderCompartment:
        - compartmentCategory: COOLING_COMPARTMENT
          type: ORDER_REQUIRES_COMPARTMENT
          orderCategory: FROZEN
        - compartmentCategory: COOLING_COMPARTMENT
          type: ORDER_REQUIRES_COMPARTMENT
          orderCategory: FROZEN
        - compartmentCategory: COOLING_COMPARTMENT
          type: ORDER_REQUIRES_COMPARTMENT
          orderCategory: FROZEN
        - compartmentCategory: COOLING_COMPARTMENT
          type: ORDER_REQUIRES_COMPARTMENT
          orderCategory: FROZEN
        - compartmentCategory: COOLING_COMPARTMENT
          type: ORDER_REQUIRES_COMPARTMENT
          orderCategory: FROZEN
        orderVehicle:
        - violationCost: 12.5
          type: ORDER_REQUIRES_VEHICLE
          orderCategory: FRESH
          vehicleCategory: COOLING
        - violationCost: 12.5
          type: ORDER_REQUIRES_VEHICLE
          orderCategory: FRESH
          vehicleCategory: COOLING
        - violationCost: 12.5
          type: ORDER_REQUIRES_VEHICLE
          orderCategory: FRESH
          vehicleCategory: COOLING
        - violationCost: 12.5
          type: ORDER_REQUIRES_VEHICLE
          orderCategory: FRESH
          vehicleCategory: COOLING
        - violationCost: 12.5
          type: ORDER_REQUIRES_VEHICLE
          orderCategory: FRESH
          vehicleCategory: COOLING
      properties:
        orderCompartment:
          default: []
          description: A list of constraints on combinations of orders and compartments.
          items:
            $ref: "#/components/schemas/OrderCompartmentCombinationConstraint"
          maxItems: 50
          type: array
        orderVehicle:
          default: []
          description: A list of constraints on combinations of orders and vehicles.
          items:
            $ref: "#/components/schemas/OrderVehicleCombinationConstraint"
          maxItems: 1000
          type: array
        depotVehicle:
          default: []
          description: A list of constraints on combinations of depots and vehicles.
          items:
            $ref: "#/components/schemas/DepotVehicleCombinationConstraint"
          maxItems: 50
          type: array
      type: object
    Compartment:
      description: Defines a vehicle compartment available for loading orders.
      example:
        id: FROZEN
        categories:
        - COOLING_COMPARTMENT
        - SMALL_BOXES
        - DANGEROUS_GOODS
        loadingStrategy: LAST_IN_FIRST_OUT
      properties:
        id:
          description: "A unique identifier for the compartment, which must be distinct\
            \ among all compartments within the same vehicle."
          example: FROZEN
          maxLength: 36
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]{1,36}$"
          type: string
        loadingStrategy:
          $ref: "#/components/schemas/CompartmentLoadingStrategy"
        categories:
          default: []
          description: A list of categories the compartment belongs to that can be
            used to describe constraints or rules.
          example:
          - COOLING_COMPARTMENT
          - SMALL_BOXES
          - DANGEROUS_GOODS
          items:
            maxLength: 36
            minLength: 1
            pattern: "^[a-zA-Z0-9_-]{1,36}$"
            type: string
          maxItems: 50
          type: array
      required:
      - id
      type: object
    CompartmentLoadingStrategy:
      default: NONE
      description: |-
        Describes the strategy for loading and unloading orders in the compartment.
        * `NONE` - There is no restriction on the sequence of loading or unloading.
        * `LAST_IN_FIRST_OUT` - The last order loaded must be the first to be unloaded.
      enum:
      - NONE
      - LAST_IN_FIRST_OUT
      example: LAST_IN_FIRST_OUT
      type: string
      x-enum-varnames:
      - NONE
      - LAST_IN_FIRST_OUT
    Constraints:
      description: Constraints that should be taken into account by optimization.
      example:
        combinations:
          depotVehicle:
          - depotCategory: NO_LOADING_BAY
            type: DEPOT_REQUIRES_VEHICLE
            vehicleCategory: FORK_LIFT
          - depotCategory: NO_LOADING_BAY
            type: DEPOT_REQUIRES_VEHICLE
            vehicleCategory: FORK_LIFT
          - depotCategory: NO_LOADING_BAY
            type: DEPOT_REQUIRES_VEHICLE
            vehicleCategory: FORK_LIFT
          - depotCategory: NO_LOADING_BAY
            type: DEPOT_REQUIRES_VEHICLE
            vehicleCategory: FORK_LIFT
          - depotCategory: NO_LOADING_BAY
            type: DEPOT_REQUIRES_VEHICLE
            vehicleCategory: FORK_LIFT
          orderCompartment:
          - compartmentCategory: COOLING_COMPARTMENT
            type: ORDER_REQUIRES_COMPARTMENT
            orderCategory: FROZEN
          - compartmentCategory: COOLING_COMPARTMENT
            type: ORDER_REQUIRES_COMPARTMENT
            orderCategory: FROZEN
          - compartmentCategory: COOLING_COMPARTMENT
            type: ORDER_REQUIRES_COMPARTMENT
            orderCategory: FROZEN
          - compartmentCategory: COOLING_COMPARTMENT
            type: ORDER_REQUIRES_COMPARTMENT
            orderCategory: FROZEN
          - compartmentCategory: COOLING_COMPARTMENT
            type: ORDER_REQUIRES_COMPARTMENT
            orderCategory: FROZEN
          orderVehicle:
          - violationCost: 12.5
            type: ORDER_REQUIRES_VEHICLE
            orderCategory: FRESH
            vehicleCategory: COOLING
          - violationCost: 12.5
            type: ORDER_REQUIRES_VEHICLE
            orderCategory: FRESH
            vehicleCategory: COOLING
          - violationCost: 12.5
            type: ORDER_REQUIRES_VEHICLE
            orderCategory: FRESH
            vehicleCategory: COOLING
          - violationCost: 12.5
            type: ORDER_REQUIRES_VEHICLE
            orderCategory: FRESH
            vehicleCategory: COOLING
          - violationCost: 12.5
            type: ORDER_REQUIRES_VEHICLE
            orderCategory: FRESH
            vehicleCategory: COOLING
        orders:
          loadingIncompatibilities:
          - loadedOrderCategory: SMALL_BOX
            forbiddenOrderCategory: BIG_BOX
            vehicleCategory: SINGLE_COMPARTMENT
          - loadedOrderCategory: SMALL_BOX
            forbiddenOrderCategory: BIG_BOX
            vehicleCategory: SINGLE_COMPARTMENT
          - loadedOrderCategory: SMALL_BOX
            forbiddenOrderCategory: BIG_BOX
            vehicleCategory: SINGLE_COMPARTMENT
          - loadedOrderCategory: SMALL_BOX
            forbiddenOrderCategory: BIG_BOX
            vehicleCategory: SINGLE_COMPARTMENT
          - loadedOrderCategory: SMALL_BOX
            forbiddenOrderCategory: BIG_BOX
            vehicleCategory: SINGLE_COMPARTMENT
          respectedSequences:
          - orderCategories:
            - FOOD
            - DIRT
            vehicleCategory: SMALL_TRUCK
          - orderCategories:
            - FOOD
            - DIRT
            vehicleCategory: SMALL_TRUCK
          - orderCategories:
            - FOOD
            - DIRT
            vehicleCategory: SMALL_TRUCK
          - orderCategories:
            - FOOD
            - DIRT
            vehicleCategory: SMALL_TRUCK
          - orderCategories:
            - FOOD
            - DIRT
            vehicleCategory: SMALL_TRUCK
        tasks:
          loadingIncompatibilities:
          - loadedOrderCategory: SMALL_BOX
            forbiddenTaskCategory: BIG_BOX
            vehicleCategory: SINGLE_COMPARTMENT
          - loadedOrderCategory: SMALL_BOX
            forbiddenTaskCategory: BIG_BOX
            vehicleCategory: SINGLE_COMPARTMENT
          - loadedOrderCategory: SMALL_BOX
            forbiddenTaskCategory: BIG_BOX
            vehicleCategory: SINGLE_COMPARTMENT
          - loadedOrderCategory: SMALL_BOX
            forbiddenTaskCategory: BIG_BOX
            vehicleCategory: SINGLE_COMPARTMENT
          - loadedOrderCategory: SMALL_BOX
            forbiddenTaskCategory: BIG_BOX
            vehicleCategory: SINGLE_COMPARTMENT
          forbiddenSequences:
          - firstTaskCategory: BLACK_PAINT
            type: NOT_IMMEDIATELY_BEFORE
            secondTaskCategory: WHITE_PAINT
            vehicleCategory: VAN
          - firstTaskCategory: BLACK_PAINT
            type: NOT_IMMEDIATELY_BEFORE
            secondTaskCategory: WHITE_PAINT
            vehicleCategory: VAN
          - firstTaskCategory: BLACK_PAINT
            type: NOT_IMMEDIATELY_BEFORE
            secondTaskCategory: WHITE_PAINT
            vehicleCategory: VAN
          - firstTaskCategory: BLACK_PAINT
            type: NOT_IMMEDIATELY_BEFORE
            secondTaskCategory: WHITE_PAINT
            vehicleCategory: VAN
          - firstTaskCategory: BLACK_PAINT
            type: NOT_IMMEDIATELY_BEFORE
            secondTaskCategory: WHITE_PAINT
            vehicleCategory: VAN
          groups:
          - constraint: CONSECUTIVE
            taskCategory: SESAME_STREET
          - constraint: CONSECUTIVE
            taskCategory: SESAME_STREET
          - constraint: CONSECUTIVE
            taskCategory: SESAME_STREET
          - constraint: CONSECUTIVE
            taskCategory: SESAME_STREET
          - constraint: CONSECUTIVE
            taskCategory: SESAME_STREET
          respectedSequences:
          - taskCategories:
            - MORNING
            - AFTERNOON
            - EVENING
            vehicleCategory: SMALL_TRUCK
          - taskCategories:
            - MORNING
            - AFTERNOON
            - EVENING
            vehicleCategory: SMALL_TRUCK
          - taskCategories:
            - MORNING
            - AFTERNOON
            - EVENING
            vehicleCategory: SMALL_TRUCK
          - taskCategories:
            - MORNING
            - AFTERNOON
            - EVENING
            vehicleCategory: SMALL_TRUCK
          - taskCategories:
            - MORNING
            - AFTERNOON
            - EVENING
            vehicleCategory: SMALL_TRUCK
      properties:
        combinations:
          $ref: "#/components/schemas/CombinationConstraints"
        orders:
          $ref: "#/components/schemas/OrderConstraints"
        tasks:
          $ref: "#/components/schemas/TaskConstraints"
      type: object
    DeliveryOrder:
      description: "An order to deliver goods, which are picked up from a depot."
      example:
        delivery:
          timeSlotIds:
          - MORNING
          - NOON
          duration: 1800
          locationId: LOCATION-123
          categories:
          - GHENT
          - FORK_LIFT_NEEDED
        id: DELIVERY-123
        properties:
          outsourcingCost: 50
          loads:
          - dimension: VOLUME
            value: 3.5
          - dimension: VOLUME
            value: 3.5
          - dimension: VOLUME
            value: 3.5
          - dimension: VOLUME
            value: 3.5
          - dimension: VOLUME
            value: 3.5
          repositioningEffort: 100
          categories:
          - FRESH
      properties:
        id:
          description: A unique identifier of the order. This must be unique across
            all orders.
          example: DELIVERY-123
          maxLength: 36
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]{1,36}$"
          type: string
        delivery:
          $ref: "#/components/schemas/TaskProperties"
        properties:
          $ref: "#/components/schemas/OrderProperties"
      required:
      - delivery
      - id
      type: object
    Depot:
      description: |-
        A depot where pickup orders can be delivered to or delivery orders can be picked up from. When stopping at a depot, all pickup orders present in the vehicle are unloaded first. Afterwards delivery orders can be loaded in the vehicle, which must be delivered before stopping at the next depot.
        When providing pickup or delivery orders, at least one depot should be specified.
        When providing pickup-delivery orders, no tasks happen at the depot and depots must be omitted.
      example:
        timeSlotIds:
        - MORNING
        - NOON
        locationId: GHENT
        id: DEPOT-123
        categories:
        - GHENT
        - FRESH
      properties:
        id:
          description: A unique identifier of the depot.
          example: DEPOT-123
          maxLength: 36
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]{1,36}$"
          type: string
        locationId:
          description: The unique identifier of the location where the depot is situated.
          example: GHENT
          maxLength: 36
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]{1,36}$"
          type: string
        timeSlotIds:
          default: []
          description: "A list of unique identifiers of the time slots of the depot\
            \ location that can be used to execute tasks at this depot. When empty\
            \ all time slots can be used. If more than 50 time slots are specified\
            \ for the depot location, the list must not be empty."
          example:
          - MORNING
          - NOON
          items:
            description: A unique identifier of the time slot.
            example: MORNING
            maxLength: 36
            minLength: 1
            pattern: "^[a-zA-Z0-9_-]{1,36}$"
            type: string
          maxItems: 50
          type: array
        categories:
          default: []
          description: A list of categories the depot belongs to that can be used
            to describe constraints or rules.
          example:
          - GHENT
          - FRESH
          items:
            maxLength: 36
            minLength: 1
            pattern: "^[a-zA-Z0-9_-]{1,36}$"
            type: string
          maxItems: 50
          type: array
      required:
      - id
      - locationId
      type: object
    DepotVehicleCombinationConstraint:
      description: A constraint on the combination of depots and vehicles belonging
        to a certain category.
      example:
        depotCategory: NO_LOADING_BAY
        type: DEPOT_REQUIRES_VEHICLE
        vehicleCategory: FORK_LIFT
      properties:
        type:
          $ref: "#/components/schemas/DepotVehicleCombinationConstraintType"
        depotCategory:
          description: The category of depots to which the constraint applies. The
            constraint will be ignored when no depot belongs to this category.
          example: NO_LOADING_BAY
          maxLength: 36
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]{1,36}$"
          type: string
        vehicleCategory:
          description: The category of vehicles to which the constraint applies. The
            constraint will be ignored when no vehicle belongs to this category.
          example: FORK_LIFT
          maxLength: 36
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]{1,36}$"
          type: string
      required:
      - depotCategory
      - type
      - vehicleCategory
      type: object
    DepotVehicleCombinationConstraintType:
      description: |-
        Describes which combination of depots and vehicles have to be respected or excluded.
        * `DEPOT_REQUIRES_VEHICLE` - A depot from the given depot category can only be visited bya vehicle from the given vehicle category.
        * `VEHICLE_REQUIRES_DEPOT` - A vehicle from the given vehicle category can only visit depots from the given depot category.
        * `FORBIDDEN_COMBINATION` - A depot from the given depot category cannot be visited by a vehicle from the given vehicle category.
      enum:
      - DEPOT_REQUIRES_VEHICLE
      - VEHICLE_REQUIRES_DEPOT
      - FORBIDDEN_COMBINATION
      example: DEPOT_REQUIRES_VEHICLE
      type: string
      x-enum-varnames:
      - DEPOT_REQUIRES_VEHICLE
      - VEHICLE_REQUIRES_DEPOT
      - FORBIDDEN_COMBINATION
    DrivingBreakSettings:
[...]
