openapi: 3.0.1
info:
  contact:
    url: https://developer.myptv.com/
  description: With the Route Optimization service you can schedule and optimize the
    routes of your fleet.
  title: Route Optimization
  version: "1.11"
servers:
- url: https://api.myptv.com/routeoptimization/v1
security:
- apiKeyAuth: []
tags:
- name: Plans
- name: Operations
paths:
  /plans:
    post:
      description: Creates a new plan containing parts like vehicles and transports
        which should be used for a subsequent optimization. It persists and returns
        a slightly modified plan including a server generated ID that can be used
        for later retrieval. This returned plan can be used for automated route optimization
        via Operations API.
      operationId: createPlan
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plan'
        description: The plan containing vehicles and transports. The returned plan
          in the response body is extended by a server generated ID and details of
          the calculated routes.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Plan successfully created and persisted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Response on failure.
      tags:
      - Plans
  /plans/{id}:
    delete:
      description: Deletes a plan identified by the ID. Also cancels a currently running
        optimization of the plan.
      operationId: deletePlan
      parameters:
      - description: ID of the plan to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Success with empty result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Response on failure.
      tags:
      - Plans
    get:
      description: Retrieves a plan identified by the ID.
      operationId: getPlan
      parameters:
      - description: ID of the requested plan.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: The requested plan is successfully provided.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Response on failure.
      tags:
      - Plans
  /plans/summaries:
    get:
      description: Retrieves a list of summaries for at most 1000 least recently updated
        available plans.
      operationId: getPlanSummaries
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanSummaries'
          description: The list of plan summaries is successfully provided.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Response on failure.
      tags:
      - Plans
  /plans/{id}/operation/optimization:
    post:
      description: |-
        Starts an asynchronous optimization of the specified plan. Only one operation can be started for a plan at a time. Trying to start another operation before the current operation is finished results in an error. Whether an operation is finished or not can be checked with "getOperationStatus". To get the result after the operation is finished "getPlan" can be used. In the optimized plan, routes ideally include all transports that are specified in the request. Routes have additional information like arrival and departure times, driving times, service times and more.

        If you call startOptimization multiple times consecutively for the same id, the optimization uses the result of the previous optimization as input, so previously planned transports remain planned in the output routes. If this is not what you intend to do, you can create a new plan before another startOptimization call.

        When starting the optimization, the number of transports in the plan is used to calculate the number of transactions, see [here](../../help/faq-help) for more information.
      operationId: startOptimization
      parameters:
      - description: ID of the plan to be optimized.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The optimization quality defines the tradeoff between calculation\
          \ time and quality. A high solution quality and a low calculation time are\
          \ conflicting. A larger solution search space may lead to a better solution\
          \ but will take more calculation time. \n * `STANDARD` - This quality level\
          \ represents a good trade-off between solution quality and calculation time.\
          \ \n * `HIGH` - On this quality level, the search space is larger than on\
          \ the standard level. This may lead to a better solution but will take more\
          \ calculation time."
        explode: true
        in: query
        name: quality
        required: false
        schema:
          $ref: '#/components/schemas/OptimizationQuality'
        style: form
      - description: "A tweak to objective defines additional optimization criteria.\
          \ Without any tweak, the standard optimization goal is to plan as many transports\
          \ as possible with as few vehicles as possible. \n * `AVOID_INTERSECTIONS`\
          \ - The focus of this approach is to avoid intersections of edges, where\
          \ an edge is a straight line drawn between two consecutive stops in a route.\
          \ The number of routes may be higher compared to the standard optimization\
          \ goal. \n * `IGNORE_MINIMIZATION_OF_NUMBER_OF_ROUTES` - With this tweak,\
          \ the number of vehicles used in a plan, and thus the number of routes,\
          \ is not minimized."
        explode: false
        in: query
        name: tweaksToObjective
        required: false
        schema:
          items:
            $ref: '#/components/schemas/TweakToObjective'
          maxItems: 2
          type: array
        style: form
      - description: |-
          Set transport priority consideration to true or false.

          See [here](./concepts/transport-priorities) for more information.
        explode: true
        in: query
        name: considerTransportPriorities
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Set Optimization Premium to true to boost quality of results\
          \ for all **quality** modes by taking advantage of additional computational\
          \ resources. \nTransactions' packages for Optimization Premium are calculated\
          \ differently.\n\nSee [here](./concepts/optimization-premium) for more information."
        explode: true
        in: query
        name: optimizationPremium
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "202":
          description: Optimization task accepted for processing.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Response on failure.
      tags:
      - Operations
  /plans/{id}/operation/evaluation:
    post:
      description: "Starts an asynchronous evaluation of the specified plan. Only\
        \ one operation can be started for a plan at a time. Trying to start another\
        \ operation before the current operation is finished results in an error.\
        \ Whether an operation is finished or not can be checked with \"getOperationStatus\"\
        . To get the result after the operation is finished \"getPlan\" can be used.\
        \ Evaluation of a plan calculates driving times, service times, break and\
        \ rest times and waiting times taking into account given time intervals. It\
        \ may happen that not all restrictions can be fullfilled in which case one\
        \ or more violations are reported. Evaluation does not change which transports\
        \ are scheduled into which route nor their sequence, it does also not change\
        \ the assignments of routes to vehicles."
      operationId: startEvaluation
      parameters:
      - description: ID of the plan to be evaluated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Evaluation task accepted for processing.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Response on failure.
      tags:
      - Operations
  /plans/{id}/operation:
    delete:
      description: "Cancels the current operation of a plan. After cancelling an operation,\
        \ the operation status for this plan can no longer be retrieved."
      operationId: cancelOperation
      parameters:
      - description: ID of the plan which corresponding operation should be cancelled.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Cancellation and deletion of a running job for the plan is
            successfully triggered.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Response on failure.
      tags:
      - Operations
    get:
      description: Retrieves the status of the current operation that is executed
        for the plan. If currently no operation is executed the status of the last
        executed operation is returned.
      operationId: getOperationStatus
      parameters:
      - description: ID of the plan for which the corresponding operation status should
          be requested.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: The requested status is successfully provided.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Response on failure.
      tags:
      - Operations
components:
  schemas:
    CapacitiesChangePosition:
      default: BETWEEN_TRIPS
      description: Position where the **capacities** or **alternativeCapacities**
        of the vehicle may be changed.
      enum:
      - BETWEEN_TRIPS
      - AT_STOP
      type: string
      x-enum-varnames:
      - BETWEEN_TRIPS
      - AT_STOP
    CausingError:
      example:
        parameter: parameter
        description: description
        errorCode: errorCode
        details:
          key: ""
      properties:
        description:
          description: A human readable message that describes the error.
          type: string
        errorCode:
          description: "A constant string that can be used to identify this error\
            \ class programmatically. An errorCode can have **details** to provide\
            \ information in additional properties which are described with the code\
            \ they apply to. They are of type string unless otherwise specified.\n\
            Note that additional errorCodes as well as the **details** of existing\
            \ errorCodes may be added at any time. Furthermore, the **description**\
            \ may change at any time.\n\n**Error codes for** `GENERAL_VALIDATION_ERROR`\n\
            * `GENERAL_INVALID_VALUE` - A parameter is set to an invalid value.\n\
            \  * `value` - The invalid value.\n* `GENERAL_UNRECOGNIZED_PARAMETER`\
            \ - A parameter is unknown.\n* `GENERAL_MISSING_PARAMETER` - A required\
            \ parameter is missing.\n* `GENERAL_INVALID_INTERVAL` - A time interval\
            \ is invalid, i.e. start is greater than end.\n* `GENERAL_MINIMUM_LENGTH_VIOLATED`\
            \ - The minimum length is violated.\n  * `minimumLength` - The minimum\
            \ length (integer).\n* `GENERAL_MAXIMUM_LENGTH_VIOLATED` - The maximum\
            \ length is violated.\n  * `maximumLength` - The maximum length (integer).\n\
            * `GENERAL_DUPLICATE_ID` - Two or more objects of the same type have the\
            \ same ID.\n  * `value` - The duplicated value.\n  * `indexes` - The list\
            \ indexes of the objects with the same ID.\n* `GENERAL_MINIMUM_VALUE_VIOLATED`\
            \ - The minimum value restriction is violated.\n  * `minimumValue` - The\
            \ minimum value (integer or double).\n* `GENERAL_MAXIMUM_VALUE_VIOLATED`\
            \ - The maximum value restriction is violated.\n  * `maximumValue` - The\
            \ maximum value (integer or double).\n* `GENERAL_DUPLICATE_PARAMETER`\
            \ - A parameter is duplicated.\n* `ROUTEOPTIMIZATION_EMPTY_ID` - The ID\
            \ is empty or contains only whitespace.\n* `ROUTEOPTIMIZATION_LOCATION_CANNOT_BE_MATCHED`\
            \ - The location cannot be matched to a street and no airline distance\
            \ fallback is possible.\n* `ROUTEOPTIMIZATION_DUPLICATE_TRIP_ID` - Two\
            \ or more trips have the same trip ID.\n  * `duplicatedTripId` - The duplicated\
            \ trip ID.\n  * `routeIndexes` - The list indexes of the routes with the\
            \ same trip ID.\n* `ROUTEOPTIMIZATION_DUPLICATE_TRANSPORT` - The transport\
            \ with ID '' is picked up and/or delivered multiple times.\n  * `transportId`\
            \ - The duplicated transport ID.\n* `ROUTEOPTIMIZATION_SINGLE_TRIP_PER_ROUTE_VIOLATED`\
            \ - There is more than one trip in the given route although the restriction\
            \ 'singleTripPerRoute' is activated.\n* `ROUTEOPTIMIZATION_SINGLE_DEPOT_PER_ROUTE_VIOLATED`\
            \ - There is more than one depot in the given route although the restriction\
            \ 'singleDepotPerRoute' is activated.\n* `ROUTEOPTIMIZATION_ILLEGAL_EMPTY_STOP`\
            \ - Empty stops without any pickup or delivery are only allowed for the\
            \ vehicle start/end location or for trip starts/ends at depots.\n* `ROUTEOPTIMIZATION_DELIVERY_EXECUTED_BEFORE_PICKUP`\
            \ - Delivery of transport with ID '' is executed before the corresponding\
            \ pickup.\n  * `transportId` - The transport ID.\n* `ROUTEOPTIMIZATION_NO_TRANSPORT_IN_ROUTE`\
            \ - There is no transport in this route. Please add a transport or remove\
            \ the whole route.\n* `ROUTEOPTIMIZATION_DELIVERY_MISSING_IN_ROUTE` -\
            \ Delivery of transport with ID '' is missing in one of the trips in the\
            \ given route. Pickup and delivery of a transport need to be in the same\
            \ trip.\n  * `transportId` - The transport ID.\n* `ROUTEOPTIMIZATION_PICKUP_MISSING_IN_ROUTE`\
            \ - Pickup of transport with ID '' is missing in one of the trips in the\
            \ given route. Pickup and delivery of a transport need to be in the same\
            \ trip.\n  * `transportId` - The transport ID.\n* `ROUTEOPTIMIZATION_PICKUP_EQUAL_TO_DELIVERY_LOCATION`\
            \ - Pickup and delivery of transport with ID '' are at the same location.\
            \ Pickup and delivery of a transport need to be at different locations.\n\
            \  * `transportId` - The transport ID.\n  * `locationId` - The location\
            \ ID of the transport pickup and delivery.\n* `ROUTEOPTIMIZATION_TRIP_STRUCTURE_VIOLATED`\
            \ - Trip structure violated.\n* `ROUTEOPTIMIZATION_INVALID_OR_INCONSISTENT_TRIP_ID`\
            \ - Trip ID is invalid or not all stops of a trip have the same ID.\n\
            * `ROUTEOPTIMIZATION_NO_TIME_INTERVAL` - The planning horizon is required\
            \ if there is no other time interval given in the plan.\n* `ROUTEOPTIMIZATION_CONTIGUOUS_DRIVER_AVAILABILITIES`\
            \ - The driver availability given in the parameter field must end at least\
            \ two seconds before the driver availabilty with list index  starts or\
            \ the contiguous intervals have to be merged.\n  * `contiguousAvailabilityIndex`\
            \ - The list index of the driver availability where the start must have\
            \ a gap of more than one second to the end of the availability given in\
            \ the parameter field.\n* `ROUTEOPTIMIZATION_PICKUP_MISSING_IN_LOCATIONS`\
            \ - The locations list does not contain the pickup location with ID ''.\n\
            \  * `locationId` - The location ID.\n* `ROUTEOPTIMIZATION_DELIVERY_MISSING_IN_LOCATIONS`\
            \ - The locations list does not contain the delivery location with ID\
            \ ''.\n  * `locationId` - The location ID.\n* `ROUTEOPTIMIZATION_UNKNOWN_VEHICLE_ID`\
            \ - A vehicle with ID '' does not exist in the vehicles list.\n  * `vehicleId`\
            \ - The vehicle ID.\n* `ROUTEOPTIMIZATION_VEHICLE_REFERENCED_BY_MULTIPLE_DRIVERS`\
            \ - A vehicle can only be referenced by one driver. Vehicle with ID ''\
            \ is referenced by multiple drivers.\n  * `vehicleId` - The vehicle ID.\n\
            \  * `driverIndexes` - The indexes of the drivers with the same vehicle\
            \ ID.\n* `ROUTEOPTIMIZATION_VEHICLE_REFERENCED_BY_MULTIPLE_ROUTES` - A\
            \ vehicle can only be referenced by one route. Vehicle with ID '' is referenced\
            \ by multiple routes.\n  * `vehicleId` - The vehicle ID.\n  * `routeIndexes`\
            \ - The indexes of the routes with the same vehicle ID.\n* `ROUTEOPTIMIZATION_VEHICLE_START_LOCATION_MISSING_IN_ROUTE`\
            \ - Vehicle start location must be the first stop of the vehicle route.\n\
            \  * `routeIndex` - The list index of the route with missing start location.\n\
            \  * `expectedLocationIdOfFirstStop` - The expected location ID of the\
            \ first stop of the route which is the given vehicle start location.\n\
            \  * `actualLocationIdOfFirstStop` - The actual location ID of the first\
            \ stop of the route.\n* `ROUTEOPTIMIZATION_VEHICLE_END_LOCATION_MISSING_IN_ROUTE`\
            \ - Vehicle end location must be the last stop of the vehicle route.\n\
            \  * `routeIndex` - The list index of the route with missing end location.\n\
            \  * `expectedLocationIdOfLastStop` - The expected location ID of the\
            \ last stop of the route which is the given vehicle end location.\n  *\
            \ `actualLocationIdOfLastStop` - The actual location ID of the last stop\
            \ of the route.\n* `ROUTEOPTIMIZATION_INCONSISTENT_NUMBER_OF_QUANTITIES_AND_CAPACITIES`\
            \ - The list of the capacities of all vehicles and the list of the quantities\
            \ of all transports must have the same length. The reference list is given\
            \ in the parameter field.\n  * `expectedLength` - The expected length\
            \ of the list.\n  * `vehicleIndexes` - The list indexes of the vehicles\
            \ with the wrong number of capacities.\n  * `transportIndexes` - The list\
            \ indexes of the transports with the wrong number of quantities.\n* `ROUTEOPTIMIZATION_UNREFERENCED_LOCATIONS`\
            \ - Locations with IDs '' are not referenced or used anywhere. These and\
            \ all other unreferenced locations must be left out.\n  * `locationIds`\
            \ - The IDs of some unreferenced locations.\n* `ROUTEOPTIMIZATION_UNKNOWN_LOCATION_ID`\
            \ - A location with ID '' does not exist in the locations list.\n  * `locationId`\
            \ - The location ID.\n* `ROUTEOPTIMIZATION_UNKNOWN_TRANSPORT_ID` - A transport\
            \ with ID '' does not exist in the transports list.\n  * `transportId`\
            \ - The transport ID.\n* `ROUTEOPTIMIZATION_LOCATIONS_TOO_FAR_AWAY` -\
            \ Locations or their road access coordinates are too far away from each\
            \ other when using vehicle profile ''. All locations and road access coordinates\
            \ have to be inside a rectangle with edges of at most '' km length.\n\
            \  * `profile` - The profile for which the locations are too far away\
            \ from each other.\n * `distance` - The maximum allowed distance in km.\n\
            * `ROUTEOPTIMIZATION_PICKUP_AT_UNEXPECTED_LOCATION` - Transport with ID\
            \ '' should not be picked up at this location.\n  * `transportId` - The\
            \ ID of the transport which is picked up at an unexpected location.\n\
            \  * `expectedPickupLocationId` - The location ID where transport should\
            \ be picked up.\n  * `actualPickupLocationId` - The location ID of the\
            \ stop where transport is actually picked up.\n* `ROUTEOPTIMIZATION_DELIVERY_AT_UNEXPECTED_LOCATION`\
            \ - Transport with ID '' should not be delivered at this location.\n \
            \ * `transportId` - The ID of the transport which is delivered at an unexpected\
            \ location.\n  * `expectedDeliveryLocationId` - The location ID where\
            \ transport should be delivered.\n  * `actualDeliveryLocationId` - The\
            \ location ID of the stop where transport is actually delivered.\n* `ROUTEOPTIMIZATION_ILLEGAL_SPLITTED_STOP`\
            \ - Subsequent stops at the same location are only allowed if they are\
            \ in different trips. The given stops must be merged to one stop.\n  *\
            \ `stopIndexes` - The list indexes of the stops which should be merged.\n\
            * `ROUTEOPTIMIZATION_INVALID_LOADING_SEQUENCE` - A location in a route\
            \ is left with unfinished tasks: Either a location is left although there\
            \ is still load FOR it on the vehicle or a location is visited again although\
            \ there are still pickups FROM it on the vehicle.\n  * `locationId` -\
            \ The location ID with unfinished tasks.\n* `ROUTEOPTIMIZATION_STOP_SERVICE_TIME_TOO_LONG`\
            \ - The service time of the stop exceeds the travel time between daily\
            \ rests or the working time between breaks defined by the rules for the\
            \ driver.\n* `ROUTEOPTIMIZATION_PLANNING_HORIZON_TOO_LONG` - Planning\
            \ horizon must not be longer than 14 days.\n* `ROUTEOPTIMIZATION_PLAN_IN_OPTIMIZATION`\
            \ - Plan with ID '' is already in optimization. Please wait or terminate\
            \ current optimization process.\n  * `planId` - The plan ID.\n* `ROUTEOPTIMIZATION_EMPTY_VALUE`\
            \ - A parameter is empty or contains only whitespace. \n\n**Error codes\
            \ for** `ROUTEOPTIMIZATION_RESTRICTION_EXCEEDED`\n* `ROUTEOPTIMIZATION_NUMBER_OF_TRANSPORTS_EXCEEDED`\
            \ - The request contains too many transports.\n  * `transports` - The\
            \ number of transports.\n  * `limit` - The maximum number of transports.\n\
            * `ROUTEOPTIMIZATION_NUMBER_OF_LOAD_CATEGORIES_EXCEEDED` - The request\
            \ contains too many load categories.\n  * `load categories` - The number\
            \ of load categories\n  * `limit` - The maximum number of load categories.\n\
            \n**Error codes for** `GENERAL_RESOURCE_NOT_FOUND`\n* `GENERAL_INVALID_ID`\
            \ - The ID does not exist.\n  * `value` - The invalid ID."
          type: string
        parameter:
          description: The name of the affected query or path parameter or a JSONPath
            to the affected property of the request.
          type: string
        details:
          additionalProperties: {}
          description: Additional properties specific to this error class.
          type: object
      required:
      - description
      - errorCode
      type: object
    CustomerLocationAttributes:
      description: Attributes for a location of type CUSTOMER.
      properties:
        serviceTimePerTransportStop:
          default: 0
          description: "The service time [s] that is required each time this location\
            \ is visited in order to pick goods up or to deliver them. The location-dependent\
            \ service time represents, for example, the time to enter the premises\
            \ or to register at a customer. Besides a location-dependent service time,\
            \ the user may specify additional vehicle-dependent and transport-dependent\
            \ service times at the vehicles and the transports respectively."
          format: int32
          minimum: 0
          type: integer
        customerId:
          description: "ID of the customer that can be set to link several customer\
            \ locations with different opening intervals. Customer locations with\
            \ the same customer ID may only differ in the location ID and in the opening\
            \ intervals. If successive stops at customer locations share the same\
            \ customer ID, the service time per transport stop of the location and\
            \ of the vehicle are only considered at the first stop of the sequence."
          pattern: ".*[^ ].*"
          type: string
        positionInTrip:
          $ref: '#/components/schemas/PositionInTrip'
        tripSectionNumber:
          description: "If tripSectionNumber is specified, a stop at this customer\
            \ location will be visited after stops (within the same trip) at customer\
            \ locations with specified lower tripSectionNumber and before stops (within\
            \ the same trip) at customer locations with specified higher tripSectionNumber.\
            \ Consequently, the trip section numbers of stops at customer locations\
            \ must be non-decreasing within each trip. \n\nIf specified, positionInTrip\
            \ must not be set for the same location.\n\nSee [here](./concepts/trip-sections-and-position-trips)\
            \ for more information."
          format: int32
          minimum: 1
          nullable: true
          type: integer
      type: object
    DepotLocationAttributes:
      description: Attributes for a location of type DEPOT.
      properties:
        serviceTimePerPickupStop:
          default: 0
          description: "The service time [s] that is required each time this location\
            \ is visited in order to pick up goods. The location-dependent service\
            \ time represents, for example, the time to enter the premises or to register\
            \ at a depot. Besides a location-dependent service time, the user may\
            \ specify additional vehicle-dependent and transport-dependent service\
            \ times at the vehicles and the transports respectively."
          format: int32
          minimum: 0
          type: integer
        serviceTimePerDeliveryStop:
          default: 0
          description: "The service time [s] that is required each time this location\
            \ is visited in order to deliver goods. The location-dependent service\
            \ time represents, for example, the time to enter the premises or to register\
            \ at a depot. Besides a location-dependent service time, the user may\
            \ specify additional vehicle-dependent and transport-dependent service\
            \ times at the vehicles and the transports respectively."
          format: int32
          minimum: 0
          type: integer
      type: object
    Driver:
      description: "A driver is always assigned to a specific vehicle and may not\
        \ always be available to operate it. To be precise, a driver can only operate\
        \ the corresponding vehicle within given time intervals."
      example:
        workingHoursPreset: EU_DRIVING_TIME_REGULATION_FOR_SINGLE_DAY
        breakRule:
          breakTime: 4077
          maximumDrivingTimeBetweenBreaks: 3600
          maximumWorkingTimeBetweenBreaks: 3600
          workingTimeThreshold: 0
        dailyRestRule:
          maximumTravelTimeBetweenDailyRests: 3600
          maximumDrivingTimeBetweenDailyRests: 3600
          dailyRestTime: 39155
          dailyRestPosition: BETWEEN_TRIPS
        availabilities:
        - start: 2020-12-06T00:00:00+00:00
          end: 2020-12-07T00:00:00+00:00
        - start: 2020-12-06T00:00:00+00:00
          end: 2020-12-07T00:00:00+00:00
        - start: 2020-12-06T00:00:00+00:00
          end: 2020-12-07T00:00:00+00:00
        - start: 2020-12-06T00:00:00+00:00
          end: 2020-12-07T00:00:00+00:00
        - start: 2020-12-06T00:00:00+00:00
          end: 2020-12-07T00:00:00+00:00
        workLogbook:
          accumulatedDrivingTimeSinceLastDailyRest: 0
          accumulatedWorkingTimeSinceLastBreak: 0
          lastTimeTheDriverWorked: 2000-01-23T04:56:07.000+00:00
          accumulatedDrivingTimeSinceLastBreak: 0
          accumulatedTravelTimeSinceLastDailyRest: 0
        maximumDrivingTime: 1
        id: id
        vehicleId: vehicleId
        maximumTravelTime: 1
      properties:
        id:
          description: The unique ID of the driver.
          pattern: ".*[^ ].*"
          type: string
        vehicleId:
          description: The ID of the driver's vehicle. This vehicle must not be referenced
            by another driver.
          pattern: ".*[^ ].*"
          type: string
        availabilities:
          description: "Intervals during which the driver is available, each specified\
            \ by two points in time - the beginning and the end of the interval. Each\
            \ trip must lie completely within one of the intervals. The route start\
            \ and trip start events must lie within one of the intervals. The intervals\
            \ must have a gap of more than 1 second. Leaving this parameter empty\
            \ means that the driver is always available."
          items:
            $ref: '#/components/schemas/TimeInterval'
          maxItems: 30
          type: array
        workingHoursPreset:
          $ref: '#/components/schemas/WorkingHoursPreset'
        breakRule:
          $ref: '#/components/schemas/BreakRule'
        dailyRestRule:
          $ref: '#/components/schemas/DailyRestRule'
        workLogbook:
          $ref: '#/components/schemas/WorkLogbook'
        maximumDrivingTime:
          description: "The maximum driving time of the driver [s]. \n\nThis includes\
            \ the driving time before the start of the route (see **accumulatedDrivingTimeSinceLastDailyRest**\
            \ in **workLogbook**). The maximum driving time is considered as infinite\
            \ if it is not set. Currently, each driver must have the same value specified."
          format: int32
          minimum: 1
          nullable: true
          type: integer
        maximumTravelTime:
          description: |-
            The maximum travel time of the driver [s]. The travel time contains all waiting, service and driving times.

            This includes the travel time before the start of the route (see **accumulatedTravelTimeSinceLastDailyRest** in **workLogbook**). The maximum travel time is considered as infinite if it is not set. Currently, each driver must have the same value specified.
          format: int32
          minimum: 1
          nullable: true
          type: integer
      required:
      - id
      - vehicleId
      type: object
    WorkingHoursPreset:
      description: |-
        Specifies break and daily rest rule as well as maximum driving and travel time according to the chosen law.

        If one of the concerned fields is specified as well the most restrictive rule holds. For example if a preset and maximumDrivingTime or maximumTravelTime are specified, the minimum of the specified value and the value defined by the preset counts. Currently, each driver must have the same value specified.

        See [here](./concepts/drivers-working-hours-break-and-rest-rules) for more information.
      enum:
      - EU_DRIVING_TIME_REGULATION_FOR_SINGLE_DAY
      - EU_DRIVING_TIME_REGULATION_FOR_LONG_SINGLE_DAY
      - EU_WORKING_TIME_DIRECTIVE_FOR_SINGLE_DAY
      - EU_WORKING_TIME_DIRECTIVE_FOR_LONG_SINGLE_DAY
      - EU_DRIVING_TIME_REGULATION_FOR_MULTIPLE_DAYS
      - EU_DRIVING_TIME_REGULATION_FOR_MULTIPLE_SINGLE_DAYS
      - EU_DRIVING_TIME_REGULATION_FOR_TEAM_AND_MULTIPLE_DAYS
      - US_HOURS_OF_SERVICE_REGULATIONS_FOR_SINGLE_DAY
      - US_HOURS_OF_SERVICE_REGULATIONS_FOR_SHORT_HAUL_AND_SINGLE_DAY
      - US_HOURS_OF_SERVICE_REGULATIONS_FOR_MULTIPLE_DAYS
      - US_HOURS_OF_SERVICE_REGULATIONS_FOR_MULTIPLE_SINGLE_DAYS
      - US_HOURS_OF_SERVICE_REGULATIONS_FOR_SHORT_HAUL_AND_MULTIPLE_SINGLE_DAYS
      nullable: true
      type: string
      x-enum-varnames:
      - EU_DRIVING_TIME_REGULATION_FOR_SINGLE_DAY
      - EU_DRIVING_TIME_REGULATION_FOR_LONG_SINGLE_DAY
      - EU_WORKING_TIME_DIRECTIVE_FOR_SINGLE_DAY
      - EU_WORKING_TIME_DIRECTIVE_FOR_LONG_SINGLE_DAY
      - EU_DRIVING_TIME_REGULATION_FOR_MULTIPLE_DAYS
      - EU_DRIVING_TIME_REGULATION_FOR_MULTIPLE_SINGLE_DAYS
      - EU_DRIVING_TIME_REGULATION_FOR_TEAM_AND_MULTIPLE_DAYS
      - US_HOURS_OF_SERVICE_REGULATIONS_FOR_SINGLE_DAY
      - US_HOURS_OF_SERVICE_REGULATIONS_FOR_SHORT_HAUL_AND_SINGLE_DAY
      - US_HOURS_OF_SERVICE_REGULATIONS_FOR_MULTIPLE_DAYS
      - US_HOURS_OF_SERVICE_REGULATIONS_FOR_MULTIPLE_SINGLE_DAYS
      - US_HOURS_OF_SERVICE_REGULATIONS_FOR_SHORT_HAUL_AND_MULTIPLE_SINGLE_DAYS
    BreakRule:
      description: |-
        Defines when a break becomes necessary and how long it should be. Currently, each driver must have the same values specified.

        See [here](./concepts/drivers-working-hours-break-and-rest-rules) for more information.
      example:
        breakTime: 4077
        maximumDrivingTimeBetweenBreaks: 3600
        maximumWorkingTimeBetweenBreaks: 3600
        workingTimeThreshold: 0
      properties:
        breakTime:
          description: "The minimum duration of a break [s]. Minimum is 15 minutes,\
            \ maximum is 1 hour 30 minutes."
          format: int32
          maximum: 5400
          minimum: 900
          type: integer
        maximumDrivingTimeBetweenBreaks:
          description: "Maximum duration that the driver is allowed to drive [s] before\
            \ taking a break. The maximum driving time is considered as infinite if\
            \ it is not set."
          format: int32
          minimum: 3600
          nullable: true
          type: integer
        maximumWorkingTimeBetweenBreaks:
          description: "Maximum duration that the driver is allowed to work [s] before\
            \ taking a break. The maximum working time is considered as infinite if\
            \ it is not set."
          format: int32
          minimum: 3600
          nullable: true
          type: integer
        workingTimeThreshold:
          default: 0
          description: "Idle time of the driver counts as working time if it is shorter\
            \ than this value [s]. May not be higher than **breakTime**."
          format: int32
          minimum: 0
          type: integer
      required:
      - breakTime
      type: object
    DailyRestRule:
      description: |-
        Defines when a daily rest becomes necessary and how long it should be. Currently, each driver must have the same values specified.

        See [here](./concepts/drivers-working-hours-break-and-rest-rules) for more information.
      example:
        maximumTravelTimeBetweenDailyRests: 3600
        maximumDrivingTimeBetweenDailyRests: 3600
        dailyRestTime: 39155
        dailyRestPosition: BETWEEN_TRIPS
      properties:
        dailyRestTime:
          description: "The minimum duration of a daily rest [s]. Minimum is 3 hours,\
            \ maximum is 22 hours."
          format: int32
          maximum: 79200
          minimum: 10800
          type: integer
        maximumDrivingTimeBetweenDailyRests:
          description: "Maximum duration that the driver is allowed to drive [s] before\
            \ taking a daily rest. The maximum driving time is considered as infinite\
            \ if it is not set."
          format: int32
          minimum: 3600
          nullable: true
          type: integer
        maximumTravelTimeBetweenDailyRests:
          description: "Maximum duration that the driver is allowed to travel [s]\
            \ before taking a daily. The maximum travel time is considered as infinite\
            \ if it is not set."
          format: int32
          minimum: 3600
          nullable: true
          type: integer
        dailyRestPosition:
          $ref: '#/components/schemas/DailyRestPosition'
      required:
      - dailyRestTime
      type: object
    DailyRestPosition:
      default: BETWEEN_TRIPS
      description: |-
        Indicates at which position of a route daily rests are planned.

        See [here](./concepts/drivers-working-hours-break-and-rest-rules) for more information.
      enum:
      - BETWEEN_TRIPS
      - ANYWHERE
      type: string
      x-enum-varnames:
      - BETWEEN_TRIPS
      - ANYWHERE
    WorkLogbook:
      description: |-
        Defines the accumulated driving, working and travel times since the last break or daily rest.

        See [here](./concepts/drivers-working-hours-break-and-rest-rules) for more information.
      example:
        accumulatedDrivingTimeSinceLastDailyRest: 0
        accumulatedWorkingTimeSinceLastBreak: 0
        lastTimeTheDriverWorked: 2000-01-23T04:56:07.000+00:00
        accumulatedDrivingTimeSinceLastBreak: 0
        accumulatedTravelTimeSinceLastDailyRest: 0
      properties:
        lastTimeTheDriverWorked:
          description: "The last time the driver worked formatted according to [RFC\
            \ 3339](https://tools.ietf.org/html/rfc3339). The date must not be before\
            \ 1970-01-01T00:00:00+00:00 nor after 2037-12-31T23:59:59+00:00. The date\
            \ must provide an offset to UTC."
          format: date-time
          type: string
        accumulatedDrivingTimeSinceLastBreak:
          default: 0
          description: "Accumulated driving time since end of last break [s], this\
            \ includes all time behind the wheel. Values higher than **maximumDrivingTimeBetweenBreaks**\
            \ are capped and effectively equal to the value given by **maximumDrivingTimeBetweenBreaks**. "
          format: int32
          minimum: 0
          type: integer
        accumulatedWorkingTimeSinceLastBreak:
          description: "Accumulated working time since end of last break [s], this\
            \ includes driving time, service time at depot and customers, and idle\
            \ time if lower than working time threshold. Values higher than **maximumWorkingTimeBetweenBreaks**\
            \ are capped and effectively equal to the value given by **maximumWorkingTimeBetweenBreaks**.\
            \ May not be smaller than **accumulatedDrivingTimeSinceLastBreak** if\
            \ the value is specified. If no other value is specified, the default\
            \ value is 0."
          format: int32
          minimum: 0
          nullable: true
          type: integer
        accumulatedDrivingTimeSinceLastDailyRest:
          description: "Accumulated driving time since end of last daily rest [s],\
            \ this includes all time behind the wheel. Values higher than **maximumDrivingTimeBetweenDailyRests**\
            \ are capped and effectively equal to the value given by **maximumDrivingTimeBetweenDailyRests**.\
            \ May not be smaller than **accumulatedDrivingTimeSinceLastBreak** if\
            \ the value is specified. If no other value is specified, the default\
            \ value is 0."
          format: int32
          minimum: 0
          nullable: true
          type: integer
        accumulatedTravelTimeSinceLastDailyRest:
          description: "Accumulated travel time since end of last daily rest [s],\
            \ this includes all time since the last daily rest. Values higher than\
            \ **maximumTravelTimeBetweenDailyRests** are capped and effectively equal\
            \ to the value given by **maximumTravelTimeBetweenDailyRests**. May not\
            \ be smaller than **accumulatedWorkingTimeSinceLastBreak** or **accumulatedDrivingTimeSinceLastDailyRest**\
            \ if the values are specified. If no other value is specified, the default\
            \ value is 0."
          format: int32
          minimum: 0
          nullable: true
          type: integer
      required:
      - lastTimeTheDriverWorked
      type: object
    ErrorResponse:
      example:
        traceId: traceId
        causes:
        - parameter: parameter
          description: description
          errorCode: errorCode
          details:
            key: ""
        - parameter: parameter
          description: description
          errorCode: errorCode
          details:
            key: ""
        description: description
        errorCode: errorCode
        details:
          key: ""
        errorId: errorId
      properties:
        traceId:
          description: A unique identifier of the corresponding trace forest. It can
            be used to trace errors by the support.
          type: string
        errorId:
          description: A unique identifier specific to this error instance. It can
            be used to trace errors by the support.
          type: string
        description:
          description: A human readable message that describes the error.
          type: string
        errorCode:
          description: "A constant string that can be used to identify this error\
            \ class programmatically. An errorCode can have **details** to provide\
            \ information in additional properties which are described with the code\
            \ they apply to. They are of type string unless otherwise specified.\n\
            Note that additional errorCodes as well as the **details** of existing\
            \ errorCodes may be added at any time. Furthermore, the **description**\
            \ may change at any time.\n\n**HTTP status code: 400**  \n* `GENERAL_VALIDATION_ERROR`\
            \ - The validation of the request failed. Details can be found in **causes**.\
            \  \n* `GENERAL_PARSING_ERROR` - The JSON syntax is invalid.  \n\n**HTTP\
            \ status code: 401**  \n* `GENERAL_UNAUTHENTICATED` - Invalid or missing\
            \ authentication credentials.  \n  * `message` - An additional error message.\
            \  \n\n**HTTP status code: 403**  \n* `GENERAL_FORBIDDEN` - Insufficient\
            \ access rights.  \n* `GENERAL_QUOTA_EXCEEDED` - The transaction limit\
            \ is exceeded.  \n  * `message` - An additional error message.  \n* `ROUTEOPTIMIZATION_RESTRICTION_EXCEEDED`\
            \ - A product-specific restriction is exceeded.  \n\n**HTTP status code:\
            \ 404**  \n* `GENERAL_RESOURCE_NOT_FOUND` - A requested resource does\
            \ not exist.  \n  * `message` - An additional error message.  \n\n**HTTP\
            \ status code: 429**  \n* `GENERAL_RATE_LIMIT_EXCEEDED` - The rate limit\
            \ is exceeded.  \n\n**HTTP status code: 500**  \n* `GENERAL_INTERNAL_SERVER_ERROR`\
            \ - The request could not be processed due to an internal error.  \n \
            \ * `message` - An additional error message.  \n  * `hint` - A hint how\
            \ to solve the problem.  \n\n**HTTP status code: 503**  \n* `GENERAL_SERVICE_UNAVAILABLE`\
            \ - The service is temporarily unavailable."
          type: string
        causes:
          description: A list of affected parameters and/or properties that caused
            this error.
          items:
            $ref: '#/components/schemas/CausingError'
          type: array
        details:
          additionalProperties: {}
          description: Additional properties specific to this error class.
          type: object
      required:
      - description
      - errorCode
      - traceId
      type: object
    Event:
      description: "An event specifies what happens on a route at a certain point\
        \ in time. It can describe the driver's activity such as driving or performing\
        \ service, or it can denote the start/end of a route/trip."
      example:
        duration: 8
        transportId: transportId
        startTime: 2000-01-23T04:56:07.000+00:00
        type: DRIVING
      properties:
        type:
          $ref: '#/components/schemas/EventType'
        startTime:
          description: "The start time of the event formatted according to [RFC 3339](https://tools.ietf.org/html/rfc3339)."
          format: date-time
          type: string
        duration:
          description: "The duration of the event [s]. The duration may be 0."
          format: int32
          type: integer
        transportId:
          description: The ID of the corresponding transport if the event is a service
            event. Otherwise the ID is null.
          pattern: ".*[^ ].*"
          type: string
      required:
      - duration
      - startTime
      - type
      type: object
    EventType:
      description: The type of an event.
      enum:
      - DRIVING
      - SERVICE
      - WAITING
      - BREAK
      - DAILY_REST
      - TRIP_START
      - TRIP_END
      - ROUTE_START
      - ROUTE_END
      type: string
      x-enum-varnames:
      - DRIVING
      - SERVICE
      - WAITING
      - BREAK
      - DAILY_REST
      - TRIP_START
      - TRIP_END
      - ROUTE_START
      - ROUTE_END
    Location:
      description: |-
        A specific location where goods have to be picked up or delivered, or where vehicles are located. A location is either a depot location or a customer location. Depot locations act as trip delimiters.

        See [here](./concepts/locations-transports-and-stops) for more information.
      example:
        id: string
        type: DEPOT
        latitude: 49.60804
        longitude: 6.113033
        openingIntervals:
        - start: 2020-12-06T08:00:00+00:00
          end: 2020-12-06T18:00:00+00:00
      properties:
        id:
          description: "A unique ID for this location. This ID can be used to reference\
            \ the location from other elements, for example from transports or vehicles.\
            \ The ID does not influence the result."
          pattern: ".*[^ ].*"
          type: string
        type:
          $ref: '#/components/schemas/LocationType'
        latitude:
          description: The latitude value of the location in degrees (WGS84/EPSG:4326)
            from south to north.
          format: double
          maximum: 90
          minimum: -90
          type: number
        longitude:
          description: The longitude value of the location in degrees (WGS84/EPSG:4326)
            from west to east.
          format: double
          maximum: 180
          minimum: -180
          type: number
        roadAccess:
          $ref: '#/components/schemas/RoadAccess'
        includeLastMeters:
          default: true
          description: Include the air-line connection between given and matched coordinates
            in the relation distance and travel time. Will be ignored when **roadAccess**
            is specified. We will refer to this type of location as an _off-road location_.
          type: boolean
        matchSideOfStreet:
          default: false
          description: Specifies that this waypoint will be reached at the side of
            street on which it is located. This is useful to prevent the driver from
            crossing the street to actually reach the location. Is disabled if an
            OSM profile is used.
          type: boolean
        applyVehicleDependentServiceTimeFactor:
          default: true
          description: "Indicates if vehicle-dependent service time factors are relevant\
            \ for this location. The factors are typically relevant when the vehicles\
            \ are (un)loaded by the drivers and may be irrelevant when the vehicles\
            \ are (un)loaded by the location's staff. If this parameter is set to\
            \ false, no vehicle-dependent service time factors are taken into account\
            \ for this location when processing transports."
          type: boolean
        openingIntervals:
          description: "The opening intervals at this location, each specified by\
            \ two points in time - the beginning and the end of the interval. Leaving\
            \ this parameter empty means that the location is always open. Service\
            \ (pickup or delivery) can only start within one of the opening intervals.\
            \ If a planning horizon is defined for the request, all opening intervals\
            \ outside of this horizon are not considered during the route optimization\
            \ process. If no planning horizon is defined, it is required that the\
            \ opening intervals of all locations do not span a horizon longer than\
            \ two weeks."
          items:
            $ref: '#/components/schemas/TimeInterval'
          maxItems: 30
          type: array
        depotLocationAttributes:
          $ref: '#/components/schemas/DepotLocationAttributes'
        customerLocationAttributes:
          $ref: '#/components/schemas/CustomerLocationAttributes'
      required:
      - id
      - latitude
      - longitude
      type: object
    LocationType:
      default: CUSTOMER
      description: The type of the location.
      enum:
      - DEPOT
      - CUSTOMER
      type: string
      x-enum-varnames:
      - DEPOT
      - CUSTOMER
    RoadAccess:
      description: "Use these coordinates for matching to the nearest road. Implies\
        \ **includeLastMeters**, i.e. the air-line connection between the location\
        \ coordinates and the matched coordinates is included in the relation distance\
        \ and travel time. This is useful if the location should not be matched to\
        \ the nearest possible road but to some road further away, e.g. garage exit\
        \ at a different road."
      properties:
        latitude:
          description: The latitude value in degrees (WGS84/EPSG:4326) from south
            to north.
          format: double
          maximum: 90
          minimum: -90
          type: number
        longitude:
          description: The longitude value in degrees (WGS84/EPSG:4326) from west
            to east.
          format: double
          maximum: 180
          minimum: -180
          type: number
      required:
      - latitude
      - longitude
      type: object
    MixedLoadingProhibition:
      description: |-
        There may be some transports that shall not be mixed with some other transports on one trip. For instance, it may be prohibited to load certain dangerous goods together on the same trip, such as flammable solids on the one hand and explosive substances on the other hand. A mixed loading prohibition is a pair of two conflicting load categories that prohibits transports with these load categories to be mixed on the same trip. The load category can be specified for every transport. For a vehicle, there is a flag that lets the vehicle ignore this restriction.

        See [here](./concepts/mixed-loading-prohibition) for more information.
      example:
        conflictingLoadCategory2: conflictingLoadCategory2
        conflictingLoadCategory1: conflictingLoadCategory1
      properties:
        conflictingLoadCategory1:
          description: A transport with this load category is not allowed to be on
            the same trip as a transport with load category conflictingLoadCategory2.
            The load category can be any string but it must not be empty and not the
            same as conflictingLoadCategory2.
          pattern: ".*[^ ].*"
          type: string
        conflictingLoadCategory2:
          description: A transport with this load category is not allowed to be on
            the same trip as a transport with load category conflictingLoadCategory1.
            The load category can be any string but it must not be empty and not the
            same as conflictingLoadCategory1.
          pattern: ".*[^ ].*"
          type: string
      required:
      - conflictingLoadCategory1
      - conflictingLoadCategory2
      type: object
    Operation:
      description: Information about an operation.
      example:
        name: name
        startTime: 2000-01-23T04:56:07.000+00:00
        error:
          traceId: traceId
          causes:
          - parameter: parameter
            description: description
            errorCode: errorCode
            details:
              key: ""
          - parameter: parameter
            description: description
            errorCode: errorCode
            details:
              key: ""
          description: description
          errorCode: errorCode
          details:
            key: ""
          errorId: errorId
        status: RUNNING
        elapsedTime: 0
      properties:
        name:
          description: "The name of the operation, possible values: \"optimization\"\
            , \"evaluation\"."
          type: string
        status:
          $ref: '#/components/schemas/OperationStatus'
        startTime:
          description: "The start time of the operation formatted according to [RFC\
            \ 3339](https://tools.ietf.org/html/rfc3339), by means the client can\
            \ decide to delete the operation. The value is always returned in UTC\
            \ time."
          format: date-time
          type: string
        elapsedTime:
          description: "The elapsed time of the operation [s], by means the client\
            \ can decide to delete the operation. It represents the duration from\
            \ the start time until now when the operation is still active or from\
            \ the start time until the end of operation when this operation is already\
            \ completed."
          format: int32
          type: integer
        error:
          $ref: '#/components/schemas/ErrorResponse'
      required:
      - elapsedTime
      - name
      - startTime
      - status
      type: object
    OperationStatus:
      description: Possible status of an operation.
      enum:
      - RUNNING
      - SUCCEEDED
      - FAILED
      type: string
      x-enum-varnames:
      - RUNNING
      - SUCCEEDED
      - FAILED
    OptimizationQuality:
      default: STANDARD
      enum:
      - STANDARD
      - HIGH
      type: string
      x-enum-varnames:
      - STANDARD
      - HIGH
    Plan:
      description: The request object for the service method 'createPlan' and the
        result of the service method 'getPlan'.
      example:
        transports:
        - pickupLocationId: pickupLocationId
          pickupServiceTime: 0
          loadCategory: loadCategory
          deliveryLocationId: deliveryLocationId
          quantities:
          - 5
          - 5
          - 5
          - 5
          - 5
          deliveryServiceTime: 0
          requiredEquipment:
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          id: id
          priority: 6
        - pickupLocationId: pickupLocationId
          pickupServiceTime: 0
          loadCategory: loadCategory
          deliveryLocationId: deliveryLocationId
          quantities:
          - 5
          - 5
          - 5
          - 5
          - 5
          deliveryServiceTime: 0
          requiredEquipment:
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          id: id
          priority: 6
        - pickupLocationId: pickupLocationId
          pickupServiceTime: 0
          loadCategory: loadCategory
          deliveryLocationId: deliveryLocationId
          quantities:
          - 5
          - 5
          - 5
          - 5
          - 5
          deliveryServiceTime: 0
          requiredEquipment:
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          id: id
          priority: 6
        - pickupLocationId: pickupLocationId
          pickupServiceTime: 0
          loadCategory: loadCategory
          deliveryLocationId: deliveryLocationId
          quantities:
          - 5
          - 5
          - 5
          - 5
          - 5
          deliveryServiceTime: 0
          requiredEquipment:
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          id: id
          priority: 6
        - pickupLocationId: pickupLocationId
          pickupServiceTime: 0
          loadCategory: loadCategory
          deliveryLocationId: deliveryLocationId
          quantities:
          - 5
          - 5
          - 5
          - 5
          - 5
          deliveryServiceTime: 0
          requiredEquipment:
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          - requiredEquipment
          id: id
          priority: 6
        routes:
        - report: ""
          vehicleId: vehicleId
          stops:
          - eventsAtStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            reportForWayToStop: ""
            reportForStop: ""
            deliveryIds:
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            locationId: locationId
            violationsOnWayToStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            eventsOnWayToStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            violationsAtStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            tripId: tripId
            pickupIds:
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
          - eventsAtStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            reportForWayToStop: ""
            reportForStop: ""
            deliveryIds:
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            locationId: locationId
            violationsOnWayToStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            eventsOnWayToStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            violationsAtStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            tripId: tripId
            pickupIds:
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
          - eventsAtStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            reportForWayToStop: ""
            reportForStop: ""
            deliveryIds:
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            locationId: locationId
            violationsOnWayToStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            eventsOnWayToStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            violationsAtStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            tripId: tripId
            pickupIds:
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
          - eventsAtStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            reportForWayToStop: ""
            reportForStop: ""
            deliveryIds:
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            locationId: locationId
            violationsOnWayToStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            eventsOnWayToStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            violationsAtStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            tripId: tripId
            pickupIds:
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
          - eventsAtStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            reportForWayToStop: ""
            reportForStop: ""
            deliveryIds:
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            locationId: locationId
            violationsOnWayToStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            eventsOnWayToStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            violationsAtStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            tripId: tripId
            pickupIds:
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
        - report: ""
          vehicleId: vehicleId
          stops:
          - eventsAtStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            reportForWayToStop: ""
            reportForStop: ""
            deliveryIds:
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            locationId: locationId
            violationsOnWayToStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            eventsOnWayToStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            violationsAtStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            tripId: tripId
            pickupIds:
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
          - eventsAtStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            reportForWayToStop: ""
            reportForStop: ""
            deliveryIds:
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            locationId: locationId
            violationsOnWayToStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            eventsOnWayToStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            violationsAtStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            tripId: tripId
            pickupIds:
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
          - eventsAtStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            reportForWayToStop: ""
            reportForStop: ""
            deliveryIds:
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            locationId: locationId
            violationsOnWayToStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            eventsOnWayToStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            violationsAtStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            tripId: tripId
            pickupIds:
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
          - eventsAtStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            reportForWayToStop: ""
            reportForStop: ""
            deliveryIds:
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            locationId: locationId
            violationsOnWayToStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            eventsOnWayToStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            violationsAtStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            tripId: tripId
            pickupIds:
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
          - eventsAtStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            reportForWayToStop: ""
            reportForStop: ""
            deliveryIds:
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            locationId: locationId
            violationsOnWayToStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            eventsOnWayToStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            violationsAtStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            tripId: tripId
            pickupIds:
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
        - report: ""
          vehicleId: vehicleId
          stops:
          - eventsAtStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            reportForWayToStop: ""
            reportForStop: ""
            deliveryIds:
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            locationId: locationId
            violationsOnWayToStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            eventsOnWayToStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            violationsAtStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            tripId: tripId
            pickupIds:
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
            - pickupIds
          - eventsAtStop:
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            - duration: 8
              transportId: transportId
              startTime: 2000-01-23T04:56:07.000+00:00
              type: DRIVING
            reportForWayToStop: ""
            reportForStop: ""
            deliveryIds:
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            - deliveryIds
            locationId: locationId
            violationsOnWayToStop:
            - numberOfStopsExceedance: 3
              missingEquipment:
              - missingEquipment
              - missingEquipment
              distanceExceedance: 6
              capacityExceedance:
              - 6
              - 6
              mixedLoadingProhibitions:
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              - conflictingLoadCategory2: conflictingLoadCategory2
                conflictingLoadCategory1: conflictingLoadCategory1
              type: PLANNING_HORIZON
              timeExceedance: 9
            - numberOfStopsExceedance: 3
[...]
